.k-block-container-type-vs {
  padding: 1rem;
  outline: 2px solid #D567AC;
  margin-bottom: 2px;
}
.k-block-type-vs-input {
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
  font-size: .90625rem;
}