.k-block-container-type-graph {
    background-color: #000;
    color: #ffff;
}
.k-block-type-graph > div {
    display: flex;
}
.k-block-type-graph .k-icon-chart {
    display: inline-block;
    margin-right: .5rem;
}
.k-icon-chart svg {
    width: 1.5rem;
    height: 1.5rem;
}