/* Webfonts */
@font-face {
  font-family: "Planc";
  src: local("Planc Book"), url("../fonts/Planc-Book.woff2") format("woff2"), url("../fonts/Planc-Book.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Planc";
  src: local("Planc Book Italic"), url("../fonts/Planc-BookItalic.woff2") format("woff2"), url("../fonts/Planc-BookItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Planc";
  src: local("Planc Regular"), url("../fonts/Planc-Regular.woff2") format("woff2"), url("../fonts/Planc-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Planc";
  src: local("Planc Medium"), url("../fonts/Planc-Medium.woff2") format("woff2"), url("../fonts/Planc-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Planc";
  src: local("Planc Bold"), url("../fonts/Planc-Bold.woff2") format("woff2"), url("../fonts/Planc-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Redaction 20";
  src: local("Redaction 20"), url("../fonts/Redaction_20-Regular.woff2") format("woff2"), url("../fonts/Redaction_20-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Redaction 20";
  src: local("Redaction 20 Italic"), url("../fonts/Redaction_20-Italic.woff2") format("woff2"), url("../fonts/Redaction_20-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Redaction 20";
  src: local("Redaction 20 Bold"), url("../fonts/Redaction_20-Bold.woff2") format("woff2"), url("../fonts/Redaction_20-Bold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Letter Gothic Std";
  src: local("Letter Gothic Std Bold"), local("LetterGothicStd-Bold"), url("../fonts/lettgothicstd_bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}


/* Variables */
:root {
  --color-brand-1: #6E3169;
  --color-brand-1-light: #B798B4;
  --color-brand-2-dark: #007F91;
  --color-brand-2: #40CCDF;
  --color-brand-2-light: #A0E6EF;
  --color-brand-3-dark: #C44E00;
  --color-brand-3: #DE7F3F;
  --color-brand-3-light: #EFBF9F;
  --color-brand-4-dark: #BC4791;
  --color-brand-4: #D567AC;
  --color-brand-4-light: #EAB3D6;
  --color-white: #FFF;
  --color-paper: #FAF5EB;
  --color-gray-50:  #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
  --color-black: #000;
  --font-sans: "Planc", "Inter", sans-serif;
  --font-serif: "Redaction 20", "Georgia", serif;
  --font-mono: "Letter Gothic Std", "Letter Gothic", monospace;
  --panel-left-w: 17rem;
  --panel-right-w: 17rem;
  --panel-right-expanded-w: 32rem;
  --study-w: 33.75rem;
  --panel-border-color: #E5E7EB;
  --fill: transparent;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Custom scrollbar - works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.3) transparent;
}
/* Custom scrollbar - works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px !important;
}
*::-webkit-scrollbar-track {
  background: transparent !important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3) !important;
  border-radius: 20px !important;
  border: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

/* Body */
body {
  font-family: var(--font-sans);
  background: var(--color-gray-50);
  color: var(--color-gray-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/* Font */
.font-bold { font-weight: bold }
.font-mono { 
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: .90625rem; /* 14.5px */
  line-height: 1.6551724138; /* 24px */
  letter-spacing: -0.01em;
  color: var(--color-gray-500);
}


/* Colors */
[data-color="purple"], .purple {
  color: var(--color-brand-1);
}
.bg-purple,
[data-color="purple"] > .graph__unit, 
.purple > .graph__unit {
  background-color: var(--color-brand-1);
}
.bg-purple-light,
[data-color="purple-light"] > .graph__unit, 
.purple-light > .graph__unit {
  background-color: var(--color-brand-1-light);
}
[data-color="blue"], .blue {
  color: var(--color-brand-2);
}
.bg-blue,
[data-color="blue"] > .graph__unit, 
.blue > .graph__unit {
  background-color: var(--color-brand-2);
}
.bg-blue-light,
[data-color="blue-light"] > .graph__unit, 
.blue-light > .graph__unit {
  background-color: var(--color-brand-2-light);
}
[data-color="orange"], .orange {
  color: var(--color-brand-3);
}
.bg-orange,
[data-color="orange"] > .graph__unit, 
.orange > .graph__unit {
  background-color: var(--color-brand-3);
}
.bg-orange-light,
[data-color="orange-light"] > .graph__unit, 
.orange-light > .graph__unit {
  background-color: var(--color-brand-3-light);
}
[data-color="pink"], .pink {
  color: var(--color-brand-4);
}
.bg-pink,
[data-color="pink"] > .graph__unit, 
.pink > .graph__unit {
  background-color: var(--color-brand-4);
}
.bg-pink-light,
[data-color="pink-light"] > .graph__unit, 
.pink-light > .graph__unit {
  background-color: var(--color-brand-4-light);
}
.bg-gray-50 {
  background-color: var(--color-gray-50);
}
.bg-gray-200 {
  background-color: var(--color-gray-200);
}
.bg-gray-300 {
  background-color: var(--color-gray-300);
}
.text-gray-500 {
  color: var(--color-gray-500);
}
.text-gray-700 {
  color: var(--color-gray-700);
}


/* Filters*/
.grayscale {
  filter: grayscale(1);
}

/* Width & Height */
.w-100 {
  width: 100px;
}
.w-50 {
  width: 50px;
}
.h-100 {
  height: 101px;
}
.h-200 {
  height: 201px;
}

/* Padding */
.p-0      { padding: 0 }
.p-0\.5   { padding: 0.125rem }
.p-1      { padding: 0.25rem }
.p-1\.5   { padding: 0.375rem }
.p-2      { padding: 0.5rem }
.p-2\.5   { padding: 0.625rem }
.p-3      { padding: 0.75rem }
.p-4      { padding: 1rem }
.p-5      { padding: 1.25rem }
.p-6      { padding: 1.5rem }
.p-7      { padding: 1.75rem }
.p-8      { padding: 2rem }
.p-10     { padding: 2.5rem }
.p-12     { padding: 3rem }
.p-16     { padding: 4rem }
.p-20     { padding: 5rem }
.p-24     { padding: 6rem }

.pt-0     { padding-top: 0 }
.pt-0\.5  { padding-top: 0.125rem }
.pt-1     { padding-top: 0.25rem }
.pt-1\.5  { padding-top: 0.375rem }
.pt-2     { padding-top: 0.5rem }
.pt-2\.5  { padding-top: 0.625rem }
.pt-3     { padding-top: 0.75rem }
.pt-4     { padding-top: 1rem }
.pt-5     { padding-top: 1.25rem }
.pt-6     { padding-top: 1.5rem }
.pt-7     { padding-top: 1.75rem }
.pt-8     { padding-top: 2rem }
.pt-10    { padding-top: 2.5rem }
.pt-12    { padding-top: 3rem }
.pt-16    { padding-top: 4rem }
.pt-20    { padding-top: 5rem }
.pt-24    { padding-top: 6rem }

.pb-0     { padding-bottom: 0 }
.pb-0\.5  { padding-bottom: 0.125rem }
.pb-1     { padding-bottom: 0.25rem }
.pb-1\.5  { padding-bottom: 0.375rem }
.pb-2     { padding-bottom: 0.5rem }
.pb-2\.5  { padding-bottom: 0.625rem }
.pb-3     { padding-bottom: 0.75rem }
.pb-4     { padding-bottom: 1rem }
.pb-5     { padding-bottom: 1.25rem }
.pb-6     { padding-bottom: 1.5rem }
.pb-7     { padding-bottom: 1.75rem }
.pb-8     { padding-bottom: 2rem }
.pb-10    { padding-bottom: 2.5rem }
.pb-12    { padding-bottom: 3rem }
.pb-16    { padding-bottom: 4rem }
.pb-20    { padding-bottom: 5rem }
.pb-24    { padding-bottom: 6rem }

.py-0     { padding-top: 0       ; padding-bottom: 0        }
.py-0\.5  { padding-top: 0.125rem; padding-bottom: 0.125rem }
.py-1     { padding-top: 0.25rem ; padding-bottom: 0.25rem  }
.py-1\.5  { padding-top: 0.375rem; padding-bottom: 0.375rem }
.py-2     { padding-top: 0.5rem  ; padding-bottom: 0.5rem   }
.py-2\.5  { padding-top: 0.625rem; padding-bottom: 0.625rem }
.py-3     { padding-top: 0.75rem ; padding-bottom: 0.75rem  }
.py-4     { padding-top: 1rem    ; padding-bottom: 1rem     }
.py-5     { padding-top: 1.25rem ; padding-bottom: 1.25rem  }
.py-6     { padding-top: 1.5rem  ; padding-bottom: 1.5rem   }
.py-7     { padding-top: 1.75rem ; padding-bottom: 1.75rem  }
.py-8     { padding-top: 2rem    ; padding-bottom: 2rem     }
.py-10    { padding-top: 2.5rem  ; padding-bottom: 2.5rem   }
.py-12    { padding-top: 3rem    ; padding-bottom: 3rem     }
.py-16    { padding-top: 4rem    ; padding-bottom: 4rem     }
.py-20    { padding-top: 5rem    ; padding-bottom: 5rem     }
.py-24    { padding-top: 6rem    ; padding-bottom: 6rem     }

.pl-0     { padding-left: 0 }
.pl-0\.5  { padding-left: 0.125rem }
.pl-1     { padding-left: 0.25rem }
.pl-1\.5  { padding-left: 0.375rem }
.pl-2     { padding-left: 0.5rem }
.pl-2\.5  { padding-left: 0.625rem }
.pl-3     { padding-left: 0.75rem }
.pl-4     { padding-left: 1rem }
.pl-5     { padding-left: 1.25rem }
.pl-6     { padding-left: 1.5rem }
.pl-7     { padding-left: 1.75rem }
.pl-8     { padding-left: 2rem }
.pl-10    { padding-left: 2.5rem }
.pl-12    { padding-left: 3rem }
.pl-16    { padding-left: 4rem }

.pr-0     { padding-right: 0 }
.pr-0\.5  { padding-right: 0.125rem }
.pr-1     { padding-right: 0.25rem }
.pr-1\.5  { padding-right: 0.375rem }
.pr-2     { padding-right: 0.5rem }
.pr-2\.5  { padding-right: 0.625rem }
.pr-3     { padding-right: 0.75rem }
.pr-4     { padding-right: 1rem }
.pr-5     { padding-right: 1.25rem }
.pr-6     { padding-right: 1.5rem }
.pr-7     { padding-right: 1.75rem }
.pr-8     { padding-right: 2rem }
.pr-10    { padding-right: 2.5rem }
.pr-12    { padding-right: 3rem }
.pr-16    { padding-right: 4rem }

.px-0     { padding-left: 0       ; padding-right: 0        }
.px-0\.5  { padding-left: 0.125rem; padding-right: 0.125rem }
.px-1     { padding-left: 0.25rem ; padding-right: 0.25rem  }
.px-1\.5  { padding-left: 0.375rem; padding-right: 0.375rem }
.px-2     { padding-left: 0.5rem  ; padding-right: 0.5rem   }
.px-2\.5  { padding-left: 0.625rem; padding-right: 0.625rem }
.px-3     { padding-left: 0.75rem ; padding-right: 0.75rem  }
.px-4     { padding-left: 1rem    ; padding-right: 1rem     }
.px-5     { padding-left: 1.25rem ; padding-right: 1.25rem  }
.px-6     { padding-left: 1.5rem  ; padding-right: 1.5rem   }
.px-7     { padding-left: 1.75rem ; padding-right: 1.75rem  }
.px-8     { padding-left: 2rem    ; padding-right: 2rem     }
.px-10    { padding-left: 2.5rem  ; padding-right: 2.5rem   }
.px-12    { padding-left: 3rem    ; padding-right: 3rem     }
.px-16    { padding-left: 4rem    ; padding-right: 4rem     }

/* Margins */
.mx-auto  { margin-left: auto; margin-right: auto }
.mt-2     { margin-top: 0.5rem }
.my-1     { margin-top: 0.25rem; margin-bottom: 0.25rem }
.my-2     { margin-top: 0.5rem ; margin-bottom: 0.5rem  }

/* Borders */
.border-t { border-top:    1px solid var(--panel-border-color) }
.border-r { border-right:  1px solid var(--panel-border-color) }
.border-b { border-bottom: 1px solid var(--panel-border-color) }
.border-l { border-left:   1px solid var(--panel-border-color) }

/* Opacity */
.opacity-0   { opacity: 0  }
.opacity-20  { opacity: .2 }
.opacity-30  { opacity: .3 }
.opacity-40  { opacity: .4 }
.opacity-50  { opacity: .5 }
.opacity-60  { opacity: .6 }
.opacity-70  { opacity: .7 }
.opacity-80  { opacity: .8 }
.opacity-100 { opacity: 1  }

/* Display */
[hidden], .hidden {
  display: none !important;
}

/* Flexbox */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

/* Screen Readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-white);
  padding: 7px 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  display: inline-flex;
  margin-right: 1.5rem;
}
#header .ctas {
  display: flex;
  flex-shrink: 0;
  margin-left: 1rem;
}
#header .ctas > * + * {
  margin-left: .5rem;
}
#btn-intro {
  font-family: var(--font-mono);
  font-size: 1rem;
  text-transform: lowercase;
}

/* Breadcrumb */
.breadcrumb {
  list-style: none;
  display: inline-block;
  flex: 1 1 auto;
  padding-top: .25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li:not(:last-child) {
  color: var(--color-gray-500);
}
.breadcrumb li + li::before {
  content: "/";
  color: var(--color-gray-400);
  margin: 0 .25em;
}

/* Main */
main {
  display: flex;
  width: 100%;
  position: fixed;
  top: 4rem;
  bottom: 0;
}

/* Container */
.container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Home */
#home .container {
  max-width: 100%;
  margin: 0;
  justify-content: flex-start;
}
#home header h1 {
  margin-bottom: 3rem;
}
#home header p {
  font-size: 1.5rem;
}
#home .study {
  max-width: 48rem;
}
#home .study ul li::before {
  display: none;
}
#home .study > *,
#home .study > * > * {
  padding-left: 0;
  padding-right: 0;
}
#home .etudes {
  margin-bottom: 16rem;
}
#home .etude {
  padding: 3rem 0;
}
#home .etude time {
  display: block;
  margin-bottom: .5rem;
}
#home .etude a {
  color: var(--color-brand-2-dark);
}
#home .etude a:hover {
  text-decoration: underline;
}
#home .etude p {
  margin-top: 0;
}
#home .block--text,
#study-intro .block--text {
  font-family: var(--font-sans);
  font-size: 1.03125rem; /* 16.5px */
  line-height: 1.6551724138; /* 24px */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.btn {
  position: relative;
  font-family: var(--font-sans);
  font-size: .8rem;
  display: inline-block;
  background: var(--color-white);
  padding: .5rem .5rem .4rem;
  border: 1px solid transparent;
  text-align: center;
  transition: background .1s ease-out, border .1s ease-out, opacity .1s ease-out;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  /*border-radius: 1rem;*/
}
.btn:hover {
  background-color: var(--color-gray-100);
}
.btn[disabled] {
  opacity: .6;
  cursor: not-allowed;
}
.btn--outline {
  border: 1px solid var(--color-gray-900);
}
.btn--fill {
  background-color: var(--color-gray-900);
  color: var(--color-gray-50);
}
.btn--fill:hover {
  background-color: var(--color-gray-800);
}


/* https://loading.io/button/ */
.ld-ball,.ld-ring,.ld-hourglass,.ld-loader,.ld-cross,.ld-square,.ld-pie,.ld-spinner{width:1em;height:1em;position:relative;color:inherit;display:inline-block;box-sizing:content-box}.ld-ball:after,.ld-ring:after,.ld-hourglass:after,.ld-loader:after,.ld-cross:after,.ld-square:after,.ld-pie:after,.ld-spinner:after{content:" ";display:block;width:2em;height:2em;box-sizing:border-box;transform-origin:0 0;transform:translateZ(0) scale(0.5);backface-visibility:hidden}.ld-ring:after{border-radius:50%;border:.3em solid currentColor;border-left-color:transparent}.ld-ball:after{border-radius:50%;background:currentColor}.ld-hourglass:after{border-radius:50%;border:1em solid currentColor;border-left-color:transparent;border-right-color:transparent}.ld-cross:after{position:absolute;height:.5em;transform:translateZ(0) scale(0.5) translate(0,0.75em);background:currentColor}.ld-cross:before{content:" ";display:block;width:.5em;height:2em;box-sizing:border-box;transform-origin:0 0;backface-visibility:hidden;position:absolute;width:.5em;transform:translateZ(0) scale(0.5) translate(0.75em,0);background:currentColor}.ld-square:after{background:currentColor}.ld-pie:after{border-radius:50%;border:1em solid currentColor;border-left-color:transparent}.ld-spinner:after{position:absolute;width:.4em;height:.4em;transform:translateZ(0) scale(0.5) translate(0.8em,0.8em);border-radius:50%;background:0;box-shadow:0 1em 0 currentColor,0 -1em 0 currentColor,1em 0 0 currentColor,-1em 0 0 currentColor,.70710678em .70710678em 0 currentColor,-.70710678em .70710678em 0 currentColor,.70710678em -.70710678em 0 currentColor,-.70710678em -.70710678em 0 currentColor}.ld-loader{background-size:cover}.ld{transform-origin:50% 50%;transform-box:fill-box}@keyframes ld-blink{0%{opacity:1}49.75%{opacity:1}50.25%{opacity:0}99.5%{opacity:0}100%{opacity:1}}.ld.ld-blink{animation:ld-blink 1s infinite linear}@keyframes ld-blur{0%{filter:blur(0)}50%{filter:blur(10%)}100%{filter:blur(0)}}.ld.ld-blur{animation:ld-blur 1s infinite linear}@keyframes ld-beat{0%{animation-timing-function:cubic-bezier(0.1028,0.2484,0.1372,0.849);transform:scale(1)}34%{animation-timing-function:cubic-bezier(0.7116,0.2095,0.8159,0.6876);transform:scale(1.2)}68%{animation-timing-function:cubic-bezier(0.1475,0.2888,0.294,0.883);transform:scale(1.0268)}84%{animation-timing-function:cubic-bezier(0.8176,0.2193,0.867,0.6889);transform:scale(1.0932)}100%{transform:scale(1)}}.ld.ld-beat{animation:ld-beat 1s infinite linear}@keyframes ld-bounceAlt{0%{animation-timing-function:cubic-bezier(0.1348,0.3256,0.2495,0.8687);transform:translate(0,0)}51%{animation-timing-function:cubic-bezier(0.7426,0.1782,0.8523,0.6514);transform:translate(0,-14%)}100%{transform:translate(0,0)}}.ld.ld-bounceAlt{animation:ld-bounceAlt 1s infinite linear}@keyframes ld-tick-alt{0%{animation-timing-function:cubic-bezier(0.0637,0.1569,-0.0154,0.8727);transform:rotate(0)}22%{animation-timing-function:cubic-bezier(0.7634,0.2713,0.7818,0.6832);transform:rotate(-44.865deg)}43%{animation-timing-function:cubic-bezier(0.0599,0.1266,0.2372,1.029);transform:rotate(-7.515000000000001deg)}56%{animation-timing-function:cubic-bezier(0.6353,0.3049,0.6792,0.6671);transform:rotate(-25.290000000000003deg)}68%{animation-timing-function:cubic-bezier(0.0513,0.1148,0.3085,1.1548);transform:rotate(-5.13deg)}76%{animation-timing-function:cubic-bezier(0.467,0.2881,0.3593,0.7819);transform:rotate(-14.175deg)}83%{animation-timing-function:cubic-bezier(0.0632,0.1615,0.3539,1.4565);transform:rotate(-3.6deg)}88%{animation-timing-function:cubic-bezier(0.3563,0.3125,0.5387,1.6475);transform:rotate(-7.74deg)}92%{animation-timing-function:cubic-bezier(0.1265,0.4155,0.3821,1.8827);transform:rotate(-2.6100000000000003deg)}95%{animation-timing-function:cubic-bezier(0.5727,1.3521,0.0229,3.0356);transform:rotate(-4.185deg)}98%{animation-timing-function:cubic-bezier(0.4531,-1.3593,0.757,0.0281);transform:rotate(-2.565deg)}100%{transform:rotate(0)}}.ld.ld-tick-alt{animation:ld-tick-alt 1s infinite linear}@keyframes ld-jump{0%{animation-timing-function:cubic-bezier(0.0637,0.1569,-0.0154,0.8727);transform:translate(0,0)}22%{animation-timing-function:cubic-bezier(0.7634,0.2713,0.7818,0.6832);transform:translate(0,-13.958%)}43%{animation-timing-function:cubic-bezier(0.0599,0.1266,0.2372,1.029);transform:translate(0,-2.338%)}56%{animation-timing-function:cubic-bezier(0.6353,0.3049,0.6792,0.6671);transform:translate(0,-7.868%)}68%{animation-timing-function:cubic-bezier(0.0513,0.1148,0.3085,1.1548);transform:translate(0,-1.596%)}76%{animation-timing-function:cubic-bezier(0.467,0.2881,0.3593,0.7819);transform:translate(0,-4.41%)}83%{animation-timing-function:cubic-bezier(0.0632,0.1615,0.3539,1.4565);transform:translate(0,-1.12%)}88%{animation-timing-function:cubic-bezier(0.3563,0.3125,0.5387,1.6475);transform:translate(0,-2.4080000000000004%)}92%{animation-timing-function:cubic-bezier(0.1265,0.4155,0.3821,1.8827);transform:translate(0,-0.812%)}95%{animation-timing-function:cubic-bezier(0.5727,1.3521,0.0229,3.0356);transform:translate(0,-1.302%)}98%{animation-timing-function:cubic-bezier(0.4531,-1.3593,0.757,0.0281);transform:translate(0,-0.798%)}100%{transform:translate(0,0)}}.ld.ld-jump{animation:ld-jump 1s infinite linear}@keyframes ld-bounce{0%{animation-timing-function:cubic-bezier(0.138,0.2541,0.2177,0.8747);transform:translate(0,0) scaleY(1)}37%{animation-timing-function:cubic-bezier(0.7679,0.1817,0.8401,0.7167);transform:translate(0,-39.96%) scaleY(1)}72.2%{animation-timing-function:cubic-bezier(0.1045,0.2026,0.2224,0.9608);transform:translate(0,0) scaleY(1)}87.2%{animation-timing-function:cubic-bezier(0.7463,0.2314,0.8159,0.6941);transform:translate(0,19.85%) scaleY(0.603)}100%{transform:translate(0,0) scaleY(1)}}.ld.ld-bounce{animation:ld-bounce 1s infinite linear}@keyframes ld-clock{0%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(0)}8.33333%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(30deg)}16.66667%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(60deg)}25%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(90deg)}33.33333%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(120deg)}41.66667%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(150deg)}50%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(180deg)}58.33333%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(210deg)}66.66667%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(240deg)}75%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(270deg)}83.33333%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(300deg)}91.66667%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(330deg)}100%{animation-timing-function:cubic-bezier(0,0.7,0.30000000000000004,1);transform:rotate(360deg)}}.ld.ld-clock{animation:ld-clock 12s infinite linear}@keyframes ld-fade{0%{animation-timing-function:cubic-bezier(0.2057,0.573,0.3723,0.9184);opacity:1}100%{opacity:0}}.ld.ld-fade{animation:ld-fade 1s infinite linear}@keyframes ld-flip{0%,25%,50%,75%,100%{animation-timing-function:cubic-bezier(0,0.4,0.6,1)}0%{transform:scale(1,1)}25%{transform:scale(-1,1)}50%{transform:scale(-1,-1)}75%{transform:scale(1,-1)}100%{transform:scale(1,1)}}.ld.ld-flip{animation:ld-flip 1s infinite linear}@keyframes ld-float{0%{animation-timing-function:cubic-bezier(0,0.4,0.6,1);transform:translate(0,0) scale(0.7);box-shadow:0 0 0 rgba(0,0,0,.3)}50%{animation-timing-function:cubic-bezier(0.4,0,1,0.6);transform:translate(0,-15%) scale(1);box-shadow:0 23% 5% -15% rgba(0,0,0,.2)}100%{transform:translate(0,0) scale(0.7);box-shadow:0 0 0 rgba(0,0,0,.3)}}.ld.ld-float{animation:ld-float 1s infinite linear}@keyframes ld-heartbeat{0%{animation-timing-function:cubic-bezier(0.1678,0.6042,0.5465,3.0859);transform:scale(1.3)}30%{animation-timing-function:cubic-bezier(0.3206,0.3435,0.6825,0.6598);transform:scale(1.15)}31%{animation-timing-function:cubic-bezier(0.2811,0.5061,0.5347,0.909);transform:scale(1.1458)}100%{transform:scale(1)}}.ld.ld-heartbeat{animation:ld-heartbeat 1s infinite linear}@keyframes ld-hit{0%{animation-timing-function:cubic-bezier(0.5,0,1,0.5);transform:scale(0) translate(0,0) skewX(0);opacity:1}20%{transform:scale(1) translate(0,0) skewX(20deg)}50%{animation-timing-function:cubic-bezier(0.6,0,1,0.4);transform:scale(1) translate(0,0) skewX(20deg)}50%{opacity:1}100%{transform:scale(1) translate(0,200%) skewX(20deg);opacity:0}}.ld.ld-hit{animation:ld-hit 2s infinite linear}@keyframes ld-move-ltr{0%{transform:translate(0,0)}40%{transform:translate(80%,0)}49.99999%{transform:translate(99.99998%,0)}50%{transform:translate(-100%,0)}50.00001%{transform:translate(-99.99998%,0)}60%{transform:translate(-80%,0)}100%{transform:translate(0,0)}}.ld.ld-move-ltr{animation:ld-move-ltr 1s infinite linear}@keyframes ld-move-rtl{0%{transform:translate(0,0)}40%{transform:translate(-80%,0)}49.99999%{transform:translate(-99.99998%,0)}50%{transform:translate(100%,0)}50.00001%{transform:translate(99.99998%,0)}60%{transform:translate(80%,0)}100%{transform:translate(0,0)}}.ld.ld-move-rtl{animation:ld-move-rtl 1s infinite linear}@keyframes ld-move-ttb{0%{transform:translate(0,0)}40%{transform:translate(0,80%)}49.99999%{transform:translate(0,99.99998%)}50%{transform:translate(0,-100%)}50.00001%{transform:translate(0,-99.99998%)}60%{transform:translate(0,-80%)}100%{transform:translate(0,0)}}.ld.ld-move-ttb{animation:ld-move-ttb 1s infinite linear}@keyframes ld-move-btt{0%{transform:translate(0,0)}40%{transform:translate(0,-80%)}49.99999%{transform:translate(0,-99.99998%)}50%{transform:translate(0,100%)}50.00001%{transform:translate(0,99.99998%)}60%{transform:translate(0,80%)}100%{transform:translate(0,0)}}.ld.ld-move-btt{animation:ld-move-btt 1s infinite linear}@keyframes ld-move-fade-ltr{0%{transform:translate(0,0);opacity:1}40%{transform:translate(80%,0);opacity:1}49.99999%{transform:translate(99.99998%,0);opacity:0}50%{transform:translate(-100%,0);opacity:0}50.00001%{transform:translate(-99.99998%,0);opacity:0}60%{transform:translate(-80%,0);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-move-fade-ltr{animation:ld-move-fade-ltr 1s infinite linear}@keyframes ld-move-fade-rtl{0%{transform:translate(0,0);opacity:1}40%{transform:translate(-80%,0);opacity:1}49.99999%{transform:translate(-99.99998%,0);opacity:0}50%{transform:translate(100%,0);opacity:0}50.00001%{transform:translate(99.99998%,0);opacity:0}60%{transform:translate(80%,0);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-move-fade-rtl{animation:ld-move-fade-rtl 1s infinite linear}@keyframes ld-move-fade-ttb{0%{transform:translate(0,0);opacity:1}40%{transform:translate(0,80%);opacity:1}49.99999%{transform:translate(0,99.99998%);opacity:0}50%{transform:translate(0,-100%);opacity:0}50.00001%{transform:translate(0,-99.99998%);opacity:0}60%{transform:translate(0,-80%);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-move-fade-ttb{animation:ld-move-fade-ttb 1s infinite linear}@keyframes ld-move-fade-btt{0%{transform:translate(0,0);opacity:1}40%{transform:translate(0,-80%);opacity:1}49.99999%{transform:translate(0,-99.99998%);opacity:0}50%{transform:translate(0,100%);opacity:0}50.00001%{transform:translate(0,99.99998%);opacity:0}60%{transform:translate(0,80%);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-move-fade-btt{animation:ld-move-fade-btt 1s infinite linear}@keyframes ld-orbit{0%{animation-timing-function:linear;transform:translate(0,-60%) rotate(0)}8.33333%{animation-timing-function:linear;transform:translate(30%,-51.96152%) rotate(30deg)}16.66667%{animation-timing-function:linear;transform:translate(51.96152%,-30%) rotate(60deg)}25%{animation-timing-function:linear;transform:translate(60%,0) rotate(90deg)}33.33333%{animation-timing-function:linear;transform:translate(51.96152%,30%) rotate(120deg)}41.66667%{animation-timing-function:linear;transform:translate(30%,51.96152%) rotate(150deg)}50%{animation-timing-function:linear;transform:translate(0,60%) rotate(180deg)}58.33333%{animation-timing-function:linear;transform:translate(-30%,51.96152%) rotate(210deg)}66.66667%{animation-timing-function:linear;transform:translate(-51.96152%,30%) rotate(240deg)}75%{animation-timing-function:linear;transform:translate(-60%,0) rotate(270deg)}83.33333%{animation-timing-function:linear;transform:translate(-51.96152%,-30%) rotate(300deg)}91.66667%{animation-timing-function:linear;transform:translate(-30%,-51.96152%) rotate(330deg)}100%{animation-timing-function:linear;transform:translate(0,-60%) rotate(360deg)}}.ld.ld-orbit{animation:ld-orbit 1s infinite linear}@keyframes ld-breath{0%{animation-timing-function:cubic-bezier(0.9647,0.2413,-0.0705,0.7911);transform:scale(0.9099999999999999)}51%{animation-timing-function:cubic-bezier(0.9226,0.2631,-0.0308,0.7628);transform:scale(1.02994)}100%{transform:scale(0.9099999999999999)}}.ld.ld-breath{animation:ld-breath 1s infinite linear}@keyframes ld-dim{0%{animation-timing-function:cubic-bezier(0.9647,0.2413,-0.0705,0.7911);opacity:0}51%{animation-timing-function:cubic-bezier(0.9226,0.2631,-0.0308,0.7628);opacity:.9995}100%{opacity:0}}.ld.ld-dim{animation:ld-dim 1s infinite linear}@keyframes ld-metronome{0%{animation-timing-function:cubic-bezier(0.7806,0.0715,0.8998,0.731);transform:translate(-10%) rotate(-20deg)}17.5%{animation-timing-function:cubic-bezier(0.484,0.3308,0.6853,0.6667);transform:translate(-6.18%) rotate(-12.36deg)}27.6%{animation-timing-function:cubic-bezier(0.0676,0.1836,0.0518,0.9433);transform:translate(2.48%) rotate(4.96deg)}50.1%{animation-timing-function:cubic-bezier(0.7773,0.0708,0.9008,0.735);transform:translate(10%) rotate(20deg)}67.6%{animation-timing-function:cubic-bezier(0.4888,0.331,0.6153,0.6674);transform:translate(6.16%) rotate(12.32deg)}80%{animation-timing-function:cubic-bezier(0.0801,0.2206,0.1357,0.9363);transform:translate(-4.57%) rotate(-9.14deg)}100%{transform:translate(-10%) rotate(-20deg)}}.ld.ld-metronome{animation:ld-metronome 1s infinite linear}@keyframes ld-swing{0%{animation-timing-function:cubic-bezier(0.9647,0.2413,-0.0705,0.7911);transform:rotate(-30deg)}51%{animation-timing-function:cubic-bezier(0.9226,0.2631,-0.0308,0.7628);transform:rotate(29.97deg)}100%{transform:rotate(-30deg)}}.ld.ld-swing{animation:ld-swing 1s infinite linear}@keyframes ld-wander-v{0%{animation-timing-function:cubic-bezier(0.9647,0.2413,-0.0705,0.7911);transform:translate(0,-10%)}51%{animation-timing-function:cubic-bezier(0.9226,0.2631,-0.0308,0.7628);transform:translate(0,9.99%)}100%{transform:translate(0,-10%)}}.ld.ld-wander-v{animation:ld-wander-v 1s infinite linear}@keyframes ld-wander-h{0%{animation-timing-function:cubic-bezier(0.9647,0.2413,-0.0705,0.7911);transform:translate(-10%,0)}51%{animation-timing-function:cubic-bezier(0.9226,0.2631,-0.0308,0.7628);transform:translate(9.99%,0)}100%{transform:translate(-10%,0)}}.ld.ld-wander-h,.ld.ld-wander{animation:ld-wander-h 1s infinite linear}@keyframes ld-pulse{0%{animation-timing-function:cubic-bezier(0.3333,0.3333,0.3124,0.6668);transform:scale(0.85)}0.5%{animation-timing-function:cubic-bezier(0.0233,-0.3865,0.6667,0.6667);transform:scale(1.141)}1.5%{animation-timing-function:cubic-bezier(0.2893,0.354,0.6158,0.6958);transform:scale(1.124)}11%{animation-timing-function:cubic-bezier(0.2861,0.4196,0.6215,0.7476);transform:scale(0.992)}25%{animation-timing-function:cubic-bezier(0.0793,0.2627,0.9972,1.5511);transform:scale(0.887)}49.5%{animation-timing-function:cubic-bezier(0.6664,0.3332,0.6667,0.6667);transform:scale(0.85)}50%{animation-timing-function:cubic-bezier(0,0.3522,1,0.6686);transform:scale(1.1500000000000001)}51%{animation-timing-function:cubic-bezier(0.2668,0.4036,0.554,0.7657);transform:scale(1.1320000000000001)}73.5%{animation-timing-function:cubic-bezier(0.2997,1.0028,0.6671,1);transform:scale(0.894)}100%{transform:scale(0.85)}}.ld.ld-pulse{animation:ld-pulse 1s infinite linear}@keyframes ld-jingle{0%{animation-timing-function:cubic-bezier(0.146,0.2111,0.5902,1.3204);transform:rotate(0)}11%{animation-timing-function:cubic-bezier(0.1079,0.1992,-0.6462,0.828);transform:rotate(7.61deg)}23%{animation-timing-function:cubic-bezier(0.0504,0.0951,0.0163,0.9677);transform:rotate(-5.789999999999999deg)}36%{animation-timing-function:cubic-bezier(0.0475,0.0921,0.3134,1.0455);transform:rotate(3.35deg)}49%{animation-timing-function:cubic-bezier(0.0789,0.1565,0.3413,1.0972);transform:rotate(-1.9300000000000002deg)}62%{animation-timing-function:cubic-bezier(0.141,0.2885,0.406,1.1519);transform:rotate(1.12deg)}75%{animation-timing-function:cubic-bezier(0.226,0.4698,0.5031,1.1722);transform:rotate(-0.64deg)}88%{animation-timing-function:cubic-bezier(0.3121,0.5521,0.5655,0.8997);transform:rotate(0.37deg)}100%{transform:rotate(-0.28deg)}}.ld.ld-jingle{animation:ld-jingle 1s infinite linear;transform-origin:50% 0}@keyframes ld-rubber-v{0%{animation-timing-function:cubic-bezier(0.1858,0.2841,0.5834,1.4615);transform:scaleY(1)}31%{animation-timing-function:cubic-bezier(0.0467,0.1102,0.4803,1.4719);transform:scaleY(1.1354)}41%{animation-timing-function:cubic-bezier(0.0469,0.1108,0.4775,1.4732);transform:scaleY(0.9052)}51%{animation-timing-function:cubic-bezier(0.0478,0.1131,0.4723,1.4819);transform:scaleY(1.0664)}61%{animation-timing-function:cubic-bezier(0.0506,0.1192,0.4639,1.4818);transform:scaleY(0.9536)}71%{animation-timing-function:cubic-bezier(0.0581,0.1374,0.457,1.4901);transform:scaleY(1.0326)}81%{animation-timing-function:cubic-bezier(0.0765,0.1813,0.4542,1.4923);transform:scaleY(0.9772)}91%{animation-timing-function:cubic-bezier(0.1747,0.3181,0.341,0.878);transform:scaleY(1.016)}100%{transform:scaleY(0.9836)}}.ld.ld-rubber-v{animation:ld-rubber-v 1s infinite linear}@keyframes ld-rubber-h{0%{animation-timing-function:cubic-bezier(0.1858,0.2841,0.5834,1.4615);transform:scaleX(1)}31%{animation-timing-function:cubic-bezier(0.0467,0.1102,0.4803,1.4719);transform:scaleX(1.1354)}41%{animation-timing-function:cubic-bezier(0.0469,0.1108,0.4775,1.4732);transform:scaleX(0.9052)}51%{animation-timing-function:cubic-bezier(0.0478,0.1131,0.4723,1.4819);transform:scaleX(1.0664)}61%{animation-timing-function:cubic-bezier(0.0506,0.1192,0.4639,1.4818);transform:scaleX(0.9536)}71%{animation-timing-function:cubic-bezier(0.0581,0.1374,0.457,1.4901);transform:scaleX(1.0326)}81%{animation-timing-function:cubic-bezier(0.0765,0.1813,0.4542,1.4923);transform:scaleX(0.9772)}91%{animation-timing-function:cubic-bezier(0.1747,0.3181,0.341,0.878);transform:scaleX(1.016)}100%{transform:scaleX(0.9836)}}.ld.ld-rubber-h,.ld.ld-rubber{animation:ld-rubber-h 1s infinite linear}@keyframes ld-shake-v{0%{animation-timing-function:cubic-bezier(0.1441,0.1912,0.6583,1.1029);transform:translate(0,0)}31%{animation-timing-function:cubic-bezier(0.0667,0.1419,0.6667,1.1415);transform:translate(0,7.800000000000001%)}45%{animation-timing-function:cubic-bezier(0.0542,0.1151,0.5697,1.181);transform:translate(0,-4.680000000000001%)}59%{animation-timing-function:cubic-bezier(0.0497,0.1058,0.4541,1.231);transform:translate(0,2.8100000000000005%)}73%{animation-timing-function:cubic-bezier(0.0808,0.1711,0.4109,1.2519);transform:translate(0,-1.6800000000000002%)}87%{animation-timing-function:cubic-bezier(0.2073,0.3705,0.4064,0.8839);transform:translate(0,1.01%)}100%{transform:translate(0,-0.78%)}}.ld.ld-shake-v{animation:ld-shake-v 1s infinite linear}@keyframes ld-shake-h{0%{animation-timing-function:cubic-bezier(0.1515,0.2047,0.6562,1.1369);transform:translate(0,0)}31%{animation-timing-function:cubic-bezier(0.0628,0.1361,0.6012,1.2083);transform:translate(7.66%,0)}45%{animation-timing-function:cubic-bezier(0.0579,0.1251,0.5661,1.2263);transform:translate(-5.36%,0)}59%{animation-timing-function:cubic-bezier(0.0523,0.113,0.5181,1.2493);transform:translate(3.75%,0)}73%{animation-timing-function:cubic-bezier(0.0513,0.1113,0.4632,1.2762);transform:translate(-2.63%,0)}87%{animation-timing-function:cubic-bezier(0.1502,0.2709,0.2303,0.8469);transform:translate(1.8399999999999999%,0)}100%{transform:translate(-1.6800000000000002%,0)}}.ld.ld-shake-h,.ld.ld-shake{animation:ld-shake-h 1s infinite linear}@keyframes ld-tick{0%{animation-timing-function:cubic-bezier(0.1858,0.2841,0.5834,1.4615);transform:rotate(0)}31%{animation-timing-function:cubic-bezier(0.0467,0.1102,0.4803,1.4719);transform:rotate(13.540000000000001deg)}41%{animation-timing-function:cubic-bezier(0.0469,0.1108,0.4775,1.4732);transform:rotate(-9.48deg)}51%{animation-timing-function:cubic-bezier(0.0478,0.1131,0.4723,1.4819);transform:rotate(6.640000000000001deg)}61%{animation-timing-function:cubic-bezier(0.0506,0.1192,0.4639,1.4818);transform:rotate(-4.640000000000001deg)}71%{animation-timing-function:cubic-bezier(0.0581,0.1374,0.457,1.4901);transform:rotate(3.2600000000000002deg)}81%{animation-timing-function:cubic-bezier(0.0765,0.1813,0.4542,1.4923);transform:rotate(-2.2800000000000002deg)}91%{animation-timing-function:cubic-bezier(0.1747,0.3181,0.341,0.878);transform:rotate(1.6deg)}100%{transform:rotate(-1.6400000000000001deg)}}.ld.ld-tick{animation:ld-tick 1s infinite linear}@keyframes ld-smash{0%{animation-timing-function:cubic-bezier(0.3385,0.332,0.6667,0.6667);transform:rotate(0)}40.8%{animation-timing-function:cubic-bezier(0.3316,0.3338,0.5714,1.3045);transform:rotate(24.48deg)}48.5%{animation-timing-function:cubic-bezier(0.9673,0.2776,0.6667,0.6667);transform:rotate(29.07deg)}51%{animation-timing-function:cubic-bezier(0.1933,0.2947,-0.0572,0.7191);transform:rotate(25.38deg)}60.8%{animation-timing-function:cubic-bezier(0.0583,2.8507,0.8558,1);transform:rotate(0.54deg)}100%{transform:rotate(0)}}.ld.ld-smash{animation:ld-smash 1s infinite linear}@keyframes ld-jelly-alt{0%{animation-timing-function:cubic-bezier(0.1858,0.2841,0.5834,1.4615);transform:skewX(0)}31%{animation-timing-function:cubic-bezier(0.0467,0.1102,0.4803,1.4719);transform:skewX(6.7700000000000005deg)}41%{animation-timing-function:cubic-bezier(0.0469,0.1108,0.4775,1.4732);transform:skewX(-4.74deg)}51%{animation-timing-function:cubic-bezier(0.0478,0.1131,0.4723,1.4819);transform:skewX(3.3200000000000003deg)}61%{animation-timing-function:cubic-bezier(0.0506,0.1192,0.4639,1.4818);transform:skewX(-2.3200000000000003deg)}71%{animation-timing-function:cubic-bezier(0.0581,0.1374,0.457,1.4901);transform:skewX(1.6300000000000001deg)}81%{animation-timing-function:cubic-bezier(0.0765,0.1813,0.4542,1.4923);transform:skewX(-1.1400000000000001deg)}91%{animation-timing-function:cubic-bezier(0.1747,0.3181,0.341,0.878);transform:skewX(0.8deg)}100%{transform:skewX(-0.8200000000000001deg)}}.ld.ld-jelly-alt{animation:ld-jelly-alt 1s infinite linear}@keyframes ld-jelly{0%{animation-timing-function:cubic-bezier(0.1441,0.1912,0.6583,1.1029);transform:translate(0,0) skewX(0)}31%{animation-timing-function:cubic-bezier(0.0667,0.1419,0.6667,1.1415);transform:translate(-7.800000000000001%,0) skewX(7.800000000000001deg)}45%{animation-timing-function:cubic-bezier(0.0542,0.1151,0.5697,1.181);transform:translate(4.680000000000001%,0) skewX(-4.680000000000001deg)}59%{animation-timing-function:cubic-bezier(0.0497,0.1058,0.4541,1.231);transform:translate(-2.8100000000000005%,0) skewX(2.8100000000000005deg)}73%{animation-timing-function:cubic-bezier(0.0808,0.1711,0.4109,1.2519);transform:translate(1.6800000000000002%,0) skewX(-1.6800000000000002deg)}87%{animation-timing-function:cubic-bezier(0.2073,0.3705,0.4064,0.8839);transform:translate(-1.01%,0) skewX(1.01deg)}100%{transform:translate(0.78%,0) skewX(-0.78deg)}}.ld.ld-jelly{animation:ld-jelly 1s infinite linear}@keyframes ld-damage{0%{animation-timing-function:cubic-bezier(0.1916,0.3481,0.5313,2.0622);opacity:1}21%{animation-timing-function:cubic-bezier(0.0461,0.1237,0.4559,1.8579);opacity:.42200000000000004}29%{animation-timing-function:cubic-bezier(0.0468,0.1254,0.4564,1.8559);opacity:1.462}37%{animation-timing-function:cubic-bezier(0.0479,0.1283,0.457,1.856);opacity:.63}45%{animation-timing-function:cubic-bezier(0.0487,0.1306,0.457,1.8506);opacity:1.296}53%{animation-timing-function:cubic-bezier(0.0515,0.1383,0.4591,1.8571);opacity:.763}61%{animation-timing-function:cubic-bezier(0.0556,0.1484,0.4608,1.846);opacity:1.189}69%{animation-timing-function:cubic-bezier(0.0595,0.1602,0.4632,1.8456);opacity:.848}77%{animation-timing-function:cubic-bezier(0.0689,0.1849,0.4698,1.8391);opacity:1.121}85%{animation-timing-function:cubic-bezier(0.0794,0.2133,0.4765,1.8226);opacity:.903}93%{animation-timing-function:cubic-bezier(0.1486,0.2692,0.2335,0.855);opacity:1.078}100%{opacity:.893}}.ld.ld-damage{animation:ld-damage 1s infinite linear}@keyframes ld-rush-ltr{0%{animation-timing-function:cubic-bezier(0,0.5,0.5,1);opacity:0}5%{opacity:1}0%{transform:translateX(-318.47520861406804%) skewX(30deg)}25%{transform:translateX(-21.425625842204074%) skewX(-15deg)}33%{transform:translateX(8.574374157795926%) skewX(-15deg)}44%{transform:translateX(-4.212879922796667%) skewX(7.5deg)}55.00000000000001%{transform:translateX(2.097390810087623%) skewX(-3.75deg)}66%{transform:translateX(0) skewX(0)}80%{transform:translateX(0) skewX(0)}100%{transform:translateX(300%) skewX(30deg)}100%{opacity:1}}.ld.ld-rush-ltr{animation:ld-rush-ltr 1s infinite linear}@keyframes ld-rush-rtl{0%{animation-timing-function:cubic-bezier(0,0.5,0.5,1);opacity:0}5%{opacity:1}0%{transform:translateX(318.47520861406804%) skewX(-30deg)}25%{transform:translateX(21.425625842204074%) skewX(15deg)}33%{transform:translateX(-8.574374157795926%) skewX(15deg)}44%{transform:translateX(4.212879922796667%) skewX(-7.5deg)}55.00000000000001%{transform:translateX(-2.097390810087623%) skewX(3.75deg)}66%{transform:translateX(0) skewX(0)}80%{transform:translateX(0) skewX(0)}100%{transform:translateX(-300%) skewX(-30deg)}100%{opacity:1}}.ld.ld-rush-rtl{animation:ld-rush-rtl 1s infinite linear}@keyframes ld-rush-ttb{0%{animation-timing-function:cubic-bezier(0,0.5,0.5,1);opacity:0}5%{opacity:1}0%{transform:translateY(-78.47520861406802%) skewY(30deg)}25%{transform:translateY(2.5743741577959263%) skewY(-15deg)}33%{transform:translateY(8.574374157795926%) skewY(-15deg)}44%{transform:translateY(-4.212879922796667%) skewY(7.5deg)}55.00000000000001%{transform:translateY(2.097390810087623%) skewY(-3.75deg)}66%{transform:translateY(0) skewY(0)}80%{transform:translateY(0) skewY(0)}100%{transform:translateY(60%) skewY(30deg)}100%{opacity:1}}.ld.ld-rush-ttb{animation:ld-rush-ttb 1s infinite linear}@keyframes ld-rush-btt{0%{animation-timing-function:cubic-bezier(0,0.5,0.5,1);opacity:0}5%{opacity:1}0%{transform:translateY(318.47520861406804%) skewY(-30deg)}25%{transform:translateY(21.425625842204074%) skewY(15deg)}33%{transform:translateY(-8.574374157795926%) skewY(15deg)}44%{transform:translateY(4.212879922796667%) skewY(-7.5deg)}55.00000000000001%{transform:translateY(-2.097390810087623%) skewY(3.75deg)}66%{transform:translateY(0) skewY(0)}80%{transform:translateY(0) skewY(0)}100%{transform:translateY(-300%) skewY(-30deg)}100%{opacity:1}}.ld.ld-rush-btt{animation:ld-rush-btt 1s infinite linear}@keyframes ld-skew{0%,50%,100%{animation-timing-function:cubic-bezier(0.4,0,1,0.6)}25%,75%{animation-timing-function:cubic-bezier(0,0.4,0.6,1)}0%{transform:skewX(20deg) scale(1)}25%{transform:skewX(0) scale(0.9)}50%{transform:skewX(-20deg) scale(1)}75%{transform:skewX(0) scale(0.9)}100%{transform:skewX(20deg) scale(1)}}.ld.ld-skew{animation:ld-skew 1s infinite linear}@keyframes ld-skew-alt{0%,50%,100%{animation-timing-function:cubic-bezier(0.4,0,1,0.6)}25%,75%{animation-timing-function:cubic-bezier(0,0.4,0.6,1)}0%{transform:skewY(20deg) scale(1)}25%{transform:skewY(0) scale(0.9)}50%{transform:skewY(-20deg) scale(1)}75%{transform:skewY(0) scale(0.9)}100%{transform:skewY(20deg) scale(1)}}.ld.ld-skew-alt{animation:ld-skew-alt 1s infinite linear}@keyframes ld-slide-ltr{0%{animation-timing-function:cubic-bezier(0.4652,0.1051,0.774,0.6426);transform:translate(0,0);opacity:1}22.5%{animation-timing-function:cubic-bezier(0.4142,0.3131,0.7623,0.6513);transform:translate(47.8%,0);opacity:1}45%{animation-timing-function:cubic-bezier(0.3615,0.331,0.9646,1.3461);transform:translate(147.8%,0);opacity:1}47.5%{animation-timing-function:cubic-bezier(0.7006,0.3332,0.6667,0.6667);transform:translate(165.6%,0);opacity:0}50%{animation-timing-function:cubic-bezier(0.1604,0.3176,-0.0218,0.6965);transform:translate(-200%,0);opacity:0}51%{animation-timing-function:cubic-bezier(0.1983,0.3529,0.5263,0.6945);transform:translate(-179.8%,0);opacity:0}80.4%{animation-timing-function:cubic-bezier(0.2342,0.3708,0.5422,0.9065);transform:translate(-38.4%,0);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-slide-ltr{animation:ld-slide-ltr 1s infinite linear}@keyframes ld-slide-rtl{0%{animation-timing-function:cubic-bezier(0.4652,0.1051,0.774,0.6426);transform:translate(0,0);opacity:1}22.5%{animation-timing-function:cubic-bezier(0.4142,0.3131,0.7623,0.6513);transform:translate(-47.8%,0);opacity:1}45%{animation-timing-function:cubic-bezier(0.3615,0.331,0.9646,1.3461);transform:translate(-147.8%,0);opacity:1}47.5%{animation-timing-function:cubic-bezier(0.7006,0.3332,0.6667,0.6667);transform:translate(-165.6%,0);opacity:0}50%{animation-timing-function:cubic-bezier(0.1604,0.3176,-0.0218,0.6965);transform:translate(200%,0);opacity:0}51%{animation-timing-function:cubic-bezier(0.1983,0.3529,0.5263,0.6945);transform:translate(179.8%,0);opacity:0}80.4%{animation-timing-function:cubic-bezier(0.2342,0.3708,0.5422,0.9065);transform:translate(38.4%,0);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-slide-rtl{animation:ld-slide-rtl 1s infinite linear}@keyframes ld-slide-btt{0%{animation-timing-function:cubic-bezier(0.4652,0.1051,0.774,0.6426);transform:translate(0,0);opacity:1}22.5%{animation-timing-function:cubic-bezier(0.4142,0.3131,0.7623,0.6513);transform:translate(0,-47.8%);opacity:1}45%{animation-timing-function:cubic-bezier(0.3615,0.331,0.9646,1.3461);transform:translate(0,-147.8%);opacity:1}47.5%{animation-timing-function:cubic-bezier(0.7006,0.3332,0.6667,0.6667);transform:translate(0,-165.6%);opacity:0}50%{animation-timing-function:cubic-bezier(0.1604,0.3176,-0.0218,0.6965);transform:translate(0,200%);opacity:0}51%{animation-timing-function:cubic-bezier(0.1983,0.3529,0.5263,0.6945);transform:translate(0,179.8%);opacity:0}80.4%{animation-timing-function:cubic-bezier(0.2342,0.3708,0.5422,0.9065);transform:translate(0,38.4%);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-slide-btt{animation:ld-slide-btt 1s infinite linear}@keyframes ld-slide-ttb{0%{animation-timing-function:cubic-bezier(0.4652,0.1051,0.774,0.6426);transform:translate(0,0);opacity:1}22.5%{animation-timing-function:cubic-bezier(0.4142,0.3131,0.7623,0.6513);transform:translate(0,47.8%);opacity:1}45%{animation-timing-function:cubic-bezier(0.3615,0.331,0.9646,1.3461);transform:translate(0,147.8%);opacity:1}47.5%{animation-timing-function:cubic-bezier(0.7006,0.3332,0.6667,0.6667);transform:translate(0,165.6%);opacity:0}50%{animation-timing-function:cubic-bezier(0.1604,0.3176,-0.0218,0.6965);transform:translate(0,-200%);opacity:0}51%{animation-timing-function:cubic-bezier(0.1983,0.3529,0.5263,0.6945);transform:translate(0,-179.8%);opacity:0}80.4%{animation-timing-function:cubic-bezier(0.2342,0.3708,0.5422,0.9065);transform:translate(0,-38.4%);opacity:1}100%{transform:translate(0,0);opacity:1}}.ld.ld-slide-ttb{animation:ld-slide-ttb 1s infinite linear}@keyframes ld-coin-h{0%{animation-timing-function:cubic-bezier(0.5856,0.0703,0.4143,0.9297);transform:rotateY(0)}100%{transform:rotateY(3600deg)}}.ld.ld-coin-h,.ld.ld-coin{animation:ld-coin-h 2s infinite linear}@keyframes ld-coin-v{0%{animation-timing-function:cubic-bezier(0.5856,0.0703,0.4143,0.9297);transform:rotateX(0)}100%{transform:rotateX(3600deg)}}.ld.ld-coin-v{animation:ld-coin-v 2s infinite linear}@keyframes ld-cycle{0%{animation-timing-function:cubic-bezier(0.3333,0.3333,0.6667,0.6667);transform:rotate(0)}100%{transform:rotate(360deg)}}.ld.ld-cycle{animation:ld-cycle 1s infinite linear}@keyframes ld-cycle-alt{0%{animation-timing-function:cubic-bezier(0.3333,0.3333,0.6667,0.6667);transform:rotate(0)}100%{transform:rotate(-360deg)}}.ld.ld-cycle-alt{animation:ld-cycle-alt 1s infinite linear}@keyframes ld-flip-h{0%{animation-timing-function:cubic-bezier(0.1909,0.4373,0.4509,0.7454);transform:rotateY(0)}30%{animation-timing-function:cubic-bezier(0.128,0.2315,0.9704,0.8632);transform:rotateY(153.72deg)}50%{animation-timing-function:cubic-bezier(0.5788,0.3001,0.5613,0.6784);transform:rotateY(180deg)}55%{animation-timing-function:cubic-bezier(0.1545,0.4929,0.6089,0.9373);transform:rotateY(238.68deg)}100%{transform:rotateY(360deg)}}.ld.ld-flip-h{animation:ld-flip-h 1s infinite linear}@keyframes ld-flip-v{0%{animation-timing-function:cubic-bezier(0.1909,0.4373,0.4509,0.7454);transform:rotateX(0)}30%{animation-timing-function:cubic-bezier(0.128,0.2315,0.9704,0.8632);transform:rotateX(153.72deg)}50%{animation-timing-function:cubic-bezier(0.5788,0.3001,0.5613,0.6784);transform:rotateX(180deg)}55%{animation-timing-function:cubic-bezier(0.1545,0.4929,0.6089,0.9373);transform:rotateX(238.68deg)}100%{transform:rotateX(360deg)}}.ld.ld-flip-v{animation:ld-flip-v 1s infinite linear}@keyframes ld-spin-fast{0%{animation-timing-function:cubic-bezier(0.5856,0.0703,0.4143,0.9297);transform:rotate(0)}100%{transform:rotate(1800deg)}}.ld.ld-spin-fast{animation:ld-spin-fast 1s infinite linear}@keyframes ld-spin{0%{animation-timing-function:cubic-bezier(0.5856,0.0703,0.4143,0.9297);transform:rotate(0)}100%{transform:rotate(360deg)}}.ld.ld-spin{animation:ld-spin 1s infinite linear}@keyframes ld-squeeze{0%{animation-timing-function:cubic-bezier(0.1685,0.4459,0.3641,0.7833);transform:scale(0.5,1)}30%{animation-timing-function:cubic-bezier(0.0995,0.199,0.9948,0.959);transform:scale(0.9490000000000001,0.5509999999999999)}50%{animation-timing-function:cubic-bezier(0.6064,0.3078,0.5406,0.6764);transform:scale(1,0.5)}55%{animation-timing-function:cubic-bezier(0.1401,0.5826,0.6091,0.9651);transform:scale(0.8019999999999999,0.6980000000000001)}100%{transform:scale(0.5,1)}}.ld.ld-squeeze{animation:ld-squeeze 1s infinite linear}@keyframes ld-static{}.ld.ld-static{animation:ld-static 1s infinite linear}@keyframes ld-surprise{0%{transform:skewX(0) scale(1)}10%{transform:skewX(-25deg) scale(0.5)}20%{transform:skewX(-25deg) scale(0.5)}30%{transform:skewX(25deg) scale(1)}40%{transform:skewX(-25deg) scale(1)}50%{transform:skewX(25deg) scale(1)}60%{transform:skewX(-25deg) scale(1)}70%{transform:skewX(25deg) scale(1)}80%{transform:skewX(-25deg) scale(1)}90%{transform:skewX(25deg) scale(1)}100%{transform:skewX(-25deg) scale(1)}}.ld.ld-surprise{animation:ld-surprise 1s infinite linear}@keyframes ld-measure{0%{transform:translate(0,0) rotate(0)}3.33333%{transform:translate(0,0) rotate(-14.99241deg)}6.66667%{transform:translate(0,0) rotate(10.93733deg)}10%{transform:translate(0,0) rotate(10.60793deg)}13.33333%{transform:translate(0,0) rotate(-10.26249deg)}16.66667%{transform:translate(0,0) rotate(0.47337deg)}20%{transform:translate(0,0) rotate(15deg)}23.33333%{transform:translate(0,0) rotate(0.48087deg)}26.66667%{transform:translate(0,0) rotate(-10.26796deg)}30%{transform:translate(0,0) rotate(10.60262deg)}33.33333%{transform:translate(0,0) rotate(10.94246deg)}36.66667%{transform:translate(0,0) rotate(-14.99265deg)}40%{transform:translate(0,0) rotate(-0.0075deg)}43.33333%{transform:translate(0,0) rotate(14.99217deg)}46.66667%{transform:translate(0,0) rotate(-10.93219deg)}50%{transform:translate(0,0) rotate(-10.61323deg)}53.33333%{transform:translate(0,0) rotate(10.25702deg)}56.66667%{transform:translate(0,0) rotate(-0.46588deg)}60%{transform:translate(0,0) rotate(-15deg)}63.33333%{transform:translate(0,0) rotate(-0.48836deg)}66.66667%{transform:translate(0,0) rotate(10.27343deg)}70%{transform:translate(0,0) rotate(-10.59732deg)}73.33333%{transform:translate(0,0) rotate(-10.94759deg)}76.66667%{transform:translate(0,0) rotate(14.99288deg)}80%{transform:translate(0,0) rotate(0.015deg)}83.33333%{transform:translate(0,0) rotate(-14.99193deg)}86.66667%{transform:translate(0,0) rotate(10.92706deg)}90%{transform:translate(0,0) rotate(10.61853deg)}93.33333%{transform:translate(0,0) rotate(-10.25155deg)}96.66667%{transform:translate(0,0) rotate(0.45838deg)}100%{transform:translate(0,0) rotate(0)}}.ld.ld-measure{animation:ld-measure 5s infinite linear}@keyframes ld-shiver{0%{transform:translate(0,0) scale(1)}3.33333%{transform:translate(0,0) scale(1.04279)}6.66667%{transform:translate(0,0) scale(1.00524)}10%{transform:translate(0,0) scale(0.96369)}13.33333%{transform:translate(0,0) scale(0.95064)}16.66667%{transform:translate(0,0) scale(0.97651)}20%{transform:translate(0,0) scale(1.02078)}23.33333%{transform:translate(0,0) scale(1.04875)}26.66667%{transform:translate(0,0) scale(1.03832)}30%{transform:translate(0,0) scale(0.99777)}33.33333%{transform:translate(0,0) scale(0.95897)}36.66667%{transform:translate(0,0) scale(0.95244)}40%{transform:translate(0,0) scale(0.98335)}43.33333%{transform:translate(0,0) scale(1.02733)}46.66667%{transform:translate(0,0) scale(1.04988)}50%{transform:translate(0,0) scale(1.0331)}53.33333%{transform:translate(0,0) scale(0.99035)}56.66667%{transform:translate(0,0) scale(0.95507)}60%{transform:translate(0,0) scale(0.95527)}63.33333%{transform:translate(0,0) scale(0.99057)}66.66667%{transform:translate(0,0) scale(1.03343)}70%{transform:translate(0,0) scale(1.04984)}73.33333%{transform:translate(0,0) scale(1.02714)}76.66667%{transform:translate(0,0) scale(0.98293)}80%{transform:translate(0,0) scale(0.9523)}83.33333%{transform:translate(0,0) scale(0.9591)}86.66667%{transform:translate(0,0) scale(0.99821)}90%{transform:translate(0,0) scale(1.0386)}93.33333%{transform:translate(0,0) scale(1.0487)}96.66667%{transform:translate(0,0) scale(1.02038)}100%{transform:translate(0,0) scale(1)}}.ld.ld-shiver{animation:ld-shiver .5s infinite linear}@keyframes ld-swim{0%{transform:translate(0,0) rotate(0)}8.33333%{transform:translate(-5.96462px,4.90845px) rotate(-13.66821deg)}16.66667%{transform:translate(5.25471px,-2.05606px) rotate(0.47337deg)}25%{transform:translate(2.30929px,5.79372px) rotate(13.8564deg)}33.33333%{transform:translate(-5.75556px,-4.60802px) rotate(10.94246deg)}41.66667%{transform:translate(3.73522px,5.97742px) rotate(-14.03079deg)}50%{transform:translate(4.2628px,-3.01222px) rotate(-10.61323deg)}58.33333%{transform:translate(-4.65975px,-2.51269px) rotate(5.2869deg)}66.66667%{transform:translate(1.64024px,-1.05167px) rotate(10.27343deg)}75%{transform:translate(5.55954px,-4.22763px) rotate(-5.72726deg)}83.33333%{transform:translate(-2.84602px,5.91439px) rotate(-14.99193deg)}91.66667%{transform:translate(-0.70744px,-5.43064px) rotate(6.16192deg)}100%{transform:translate(0,0) rotate(0)}}.ld.ld-swim{animation:ld-swim 10s infinite linear}@keyframes ld-tremble{0%{transform:translate(0,0)}3.33333%{transform:translate(-0.18923px,1.45485px)}6.66667%{transform:translate(-0.84296px,-1.32524px)}10%{transform:translate(0.67971px,1.00422px)}13.33333%{transform:translate(-0.5056px,0.83616px)}16.66667%{transform:translate(1.31368px,-0.51401px)}20%{transform:translate(-1.21184px,1.49193px)}23.33333%{transform:translate(1.09065px,-0.21259px)}26.66667%{transform:translate(-1.49916px,0.56159px)}30%{transform:translate(1.48086px,1.21228px)}33.33333%{transform:translate(-1.43889px,-1.152px)}36.66667%{transform:translate(1.35914px,1.34835px)}40%{transform:translate(-1.42834px,0.3091px)}43.33333%{transform:translate(1.47472px,-1.49889px)}46.66667%{transform:translate(-0.92402px,1.4416px)}50%{transform:translate(1.0657px,-0.75306px)}53.33333%{transform:translate(-1.19035px,-1.07484px)}56.66667%{transform:translate(0.28828px,0.79337px)}60%{transform:translate(-0.47167px,-1.42789px)}63.33333%{transform:translate(0.64753px,-0.09795px)}66.66667%{transform:translate(0.41006px,-0.26292px)}70%{transform:translate(-0.22477px,-1.3683px)}73.33333%{transform:translate(0.03588px,0.92931px)}76.66667%{transform:translate(-1.01937px,-1.18398px)}80%{transform:translate(0.8724px,-0.60494px)}83.33333%{transform:translate(-0.71151px,1.4786px)}86.66667%{transform:translate(1.40734px,-1.49607px)}90%{transform:translate(-1.33062px,0.46957px)}93.33333%{transform:translate(1.23264px,1.26738px)}96.66667%{transform:translate(-1.48975px,-1.03867px)}100%{transform:translate(0,0)}}.ld.ld-tremble{animation:ld-tremble .5s infinite linear}@keyframes ld-vortex{0%,60%{animation-timing-function:cubic-bezier(0.3,0,1,0.7)}0%{opacity:0;transform:rotate(-1800deg) scale(0.3)}60%{opacity:1;transform:rotate(0) scale(1)}100%{opacity:0;transform:rotate(0) scale(1)}}.ld.ld-vortex{animation:ld-vortex 1s infinite linear}@keyframes ld-vortex-alt{0%,60%{animation-timing-function:cubic-bezier(0.3,0,1,0.7)}0%{opacity:0;transform:rotate(-1800deg) scale(3)}60%{opacity:1;transform:rotate(0) scale(1)}100%{opacity:0;transform:rotate(0) scale(1)}}.ld.ld-vortex-alt{animation:ld-vortex-alt 1s infinite linear}@keyframes ld-wrench{20%,36%,70%,86%{transform:rotate(0)}0%,50%,100%{transform:rotate(45deg)}}.ld.ld-wrench{animation:ld-wrench 1s infinite linear}
.ld-ext-right,.ld-ext-left,.ld-ext-bottom,.ld-ext-top,.ld-over,.ld-over-inverse,.ld-over-full,.ld-over-full-inverse{position:relative;transition:all .3s;transition-timing-function:ease-in}.ld-ext-right>.ld,.ld-ext-left>.ld,.ld-ext-bottom>.ld,.ld-ext-top>.ld,.ld-over>.ld,.ld-over-inverse>.ld,.ld-over-full>.ld,.ld-over-full-inverse>.ld{position:absolute;top:50%;left:50%;width:1em;height:1em;margin:-0.5em;opacity:0;z-index:-1;transition:all .3s;transition-timing-function:ease-in}.ld-ext-right>.ld>*,.ld-ext-left>.ld>*,.ld-ext-bottom>.ld>*,.ld-ext-top>.ld>*,.ld-over>.ld>*,.ld-over-inverse>.ld>*,.ld-over-full>.ld>*,.ld-over-full-inverse>.ld>*{width:1em;height:1em;position:absolute;top:50%;left:50%;transform:translate(-0.5em,-0.5em)}.ld-ext-right.running>.ld,.ld-ext-left.running>.ld,.ld-ext-bottom.running>.ld,.ld-ext-top.running>.ld,.ld-over.running>.ld,.ld-over-inverse.running>.ld,.ld-over-full.running>.ld,.ld-over-full-inverse.running>.ld{opacity:1;z-index:auto;visibility:visible}.ld-ext-right.running{padding-right:2.5em !important}.ld-ext-right>.ld{top:50%;left:auto;right:1.25em}.ld-ext-left.running{padding-left:2.5em !important}.ld-ext-left>.ld{top:50%;right:auto;left:1.25em}.ld-ext-bottom.running{padding-bottom:2.5em !important}.ld-ext-bottom>.ld{top:auto;left:50%;bottom:1.25em}.ld-ext-top.running{padding-top:2.5em !important}.ld-ext-top>.ld{bottom:auto;left:50%;top:1.25em}.ld-over:before,.ld-over-inverse:before,.ld-over-full:before,.ld-over-full-inverse:before{content:" ";display:block;opacity:0;position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;transition:all .3s;transition-timing-function:ease-in;background:rgba(240,240,240,0.8)}.ld-over.running>.ld,.ld-over-inverse.running>.ld,.ld-over-full.running>.ld,.ld-over-full-inverse.running>.ld{z-index:4001}.ld-over.running:before,.ld-over-inverse.running:before,.ld-over-full.running:before,.ld-over-full-inverse.running:before{opacity:1;z-index:4000;display:block}.ld-over-full.running>.ld,.ld-over-full-inverse.running>.ld,.ld-over-full.running:before,.ld-over-full-inverse.running:before{position:fixed}.ld-over-full>.ld{color:rgba(0,0,0,0.8)}.ld-over-full:before,.ld-over-full-inverse:before{background:rgba(255,255,255,0.8)}.ld-over-inverse>.ld{color:rgba(255,255,255,0.8)}.ld-over-inverse:before{background:rgba(0,0,0,0.6)}.ld-over-full-inverse>.ld{color:rgba(255,255,255,0.8)}.ld-over-full-inverse:before{background:rgba(0,0,0,0.6)}

.btn--loading .ld {
  opacity: 1 !important;
  z-index: 1 !important;
}
.btn--fill.btn--loading .ld {
  color: white;
}

.btn--square {
  width: 2rem;
  height: 2rem;
  padding-left: 0;
  padding-right: 0;
}
.btn--circle {
  padding-left: 0;
  padding-right: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.btn--transparent,
.btn--transparent:hover {
  background: transparent;
}
.btn--item {
  width: 2rem !important;
  height: 2rem;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1px;
  color: var(--color-gray-500);
}
.btn--item:hover {
  background: var(--color-gray-100);
  color: var(--color-gray-900);
}
.btn--item:active {
  background: var(--panel-border-color);
}
.btn--item:active,
.btn--item:focus {
  z-index: 1;
}
.btn--right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.btn--left {
  position: absolute;
  left: .75rem;
}
.btn--up {
  top: calc(50% - 1.5rem);
}
.btn--down {
  bottom: calc(50% - 1.5rem);
}
.btn--down,
.btn--up {
  width: 1.5rem;
  height: 1.5rem;
}
#btn-tutorial {
  font-size: 1rem;
  padding: .45rem;
}
.btn--study {
  margin: 1rem 2rem 3.5rem;
  font-size: 1.5rem;
  padding: .6rem .5em .4rem;
}
.btn--select {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  text-align: left;
  padding-left: .5rem;
  padding-right: .5rem;
  text-transform: unset;
  letter-spacing: 0;
  border-color: var(--color-gray-400);
}
.panel__select::after {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: .5rem;
  height: .5rem;
  border-right: 1px solid var(--color-gray-500);
  border-bottom: 1px solid var(--color-gray-500);
  transform: rotate(45deg);
}
select::-ms-expand {
  display: none;
}

/* Icons */
.icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.icon path, .icon circle, .icon rect, .icon ellipse, .icon line {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

/* Divider */
hr {
  border: none;
  border-top: 1px solid var(--panel-border-color);
  margin: .5rem 0;
  padding: 0;
}

sup {
  font-size: .75em;
  margin-left: 0.2em;
}

/* Questionnaire */
#toggle-questions,
#toggle-toc {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  min-width: 3rem;
  min-height: 3rem;
  background-color: var(--color-white);
  z-index: 99;
  cursor: pointer;
  --fill: currentColor;
}
#toggle-questions:hover,
#toggle-toc:hover {
  background-color: var(--color-gray-100);
}
#toggle-questions {
  top: 5rem;
}
input#questions:checked ~ #toggle-questions,
input#toc:checked ~ #toggle-toc {
  background: currentColor;
}
input#questions:checked ~ #toggle-questions #toggle-icon-question,
input#toc:checked ~ #toggle-toc #toggle-icon-toc {
  --fill: white;
}
input#questions:checked ~ article .block:not(.block--part, .block--subpart, .block--question, .block--graph, .block--table),
input#questions:checked ~ article .block--annex,
input#questions:checked ~ article .part > h4 {
  display: none;
}

input#toc:checked ~ .panel--left {
  transform: translateX(0%);
}

/* STUDY & BLOCKS */
#study-intro {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-gray-50);
  margin: 0;
  z-index: 999;
  max-width: 100vw;
}
.study {
  position: relative;
  width: 100%;
  max-width: calc(var(--study-w) + 4rem); /* 540px + 4rem */
  padding-top: 3rem;
}
.study > *:last-child {
  margin-bottom: 6rem;
}
.block {
  position: relative;
  margin-bottom: 3rem;
  border: 1px solid var(--color-gray-50);
  transition: opacity 0.15s ease-out;
}
.block > *,
.part > h4,
.subpart > h4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.block--part {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.block--subpart {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.block--actions {
  --margin: 1rem;
  display: none;
  position: absolute;
  top: calc(-1 * var(--margin));
  left: calc(100% - var(--margin));
  height: 100%;
  width: 12rem;
  padding: var(--margin) var(--margin) var(--margin) 1.5rem !important;
  flex-direction: column;
  align-self: flex-start;
}
.block--actions > * {
  margin-bottom: -1px;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  background: var(--color-white);
}
.block--actions .icon {
  height: 3rem;
  width: 3rem;
  stroke-width: .666px;
}
.block:hover > .block--actions {
  display: flex;
}
.study h2 + .block--actions {
  top: 0;
}

.study h1, .study h2, .study h3, .study h4, .study h5 {
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  margin-left: -0.05em;
}
.study h1 {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.03em;
}
.study h2 {
  font-size: 3rem;
  line-height: 1.075;
  letter-spacing: -0.02em;
}
.study h2 + p {
  margin-top: 3rem;
}
.study h2[data-symbol]::before {
  content: attr(data-symbol);
  line-height: 3.5rem;
}
.study h2[data-part]::before {
  content: attr(data-part) ". ";
  line-height: 4rem;
}
.study h3 {
  font-size: 2rem;
  line-height: 1.25;
}
.study h3[data-subpart]::before {
  content: attr(data-subpart) ". ";
  line-height: 2.75rem;
}
.study h4 {
  font-size: 1.5rem;
  line-height: 1.333;
}
.study h4[data-subsubpart]::before {
  content: attr(data-subsubpart) ". ";
  line-height: 2rem;
}
.study h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}
.study h2::before,
.study h3::before,
.study h4::before,
blockquote::before,
blockquote p::after {
  font-family: var(--font-sans);
  color: var(--color-gray-500);
  position: absolute;
  left: 0;
  width: 1.5rem;
  font-size: 1.5rem;
}
.study p + p,
.study ul + p,
.study ol + p {
  margin-top: 1.6551724138em;
}
.study p + ul,
.study p + ol,
.study li {
  margin-top: 0.8275862069em;
}
.study ul,
.study ol {
  padding-left: 1rem;
}
.study ul li,
.study ol li {
  position: relative;
  padding-left: .5rem;
}
.study ul li::before,
.study ol li::before {
  display: block;
  position: absolute;
  left: -2rem;
  width: 1.5rem;
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--color-gray-500);
}
.study ul li::before {
  content: "·";
  top: -.33rem;
  left: -2rem;
  font-size: 1.6rem;
  text-align: right;
}
.study ol li::before {
  top: .05rem;
  font-size: .875rem;
  text-align: left;
}
.study ol {
  counter-reset: ol;
}
.study ol li {
  counter-increment: ol;
}
.study ol li::before {
  content: counter(ol) ".";
}
.block--title {
  padding: 0 2rem;
  margin-bottom: 3rem;
  transition: opacity 0.15s ease-out;
}
.block--title > h1 {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-gray-300);
}
.block--text {
  font-family: var(--font-serif);
  font-size: 1.0416625rem; /* 16.66px */
  line-height: 1.444; /* 24px */
  color: var(--color-gray-700);
}
.block--text a {
  text-decoration: none;
  color: var(--color-brand-2-dark);
}
@media (hover: hover) {
  .block--text a:hover {
    text-decoration: underline;
  }
}

.block--callout {
  font-family: var(--font-sans);
  font-size: 1.03125rem; /* 16.5px */
  line-height: 1.6551724138; /* 24px */
  border: 1px solid var(--color-brand-3);
  padding-bottom: 2rem;
}
.block--callout h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.333;
  font-weight: 500;
  padding-bottom: .5rem;
  color: var(--color-brand-3-dark);
}
.block--callout .block--quote {
  padding: 0 3.5rem;
}
.block--callout .block--quote blockquote::before {
  left: -1.5rem;
}
.block--callout > *:first-child {
  padding-top: 2rem;
}
.block--spec {
  border: 0px solid var(--color-brand-2);
}
.block--spec h4 {
  color: var(--color-brand-2-dark);
}
.block--vs {
  border: 1px solid var(--color-brand-4);
}
.block--vs h4 {
  color: var(--color-brand-4-dark);
}
blockquote {
  position: relative;
}
blockquote::before,
blockquote p::after {
  font-size: 1.25rem;
  line-height: 1;
}
blockquote::before {
  content: "«";
  left: 2rem;
  top: .125rem;
  width: 1rem;
}
blockquote p::after {
  content: "»";
  position: relative;
  left: .5rem;
  font-style: normal;
}
.block--quote {
  margin: 1.5rem 0;
}
.part > .block--quote > *,
.subpart > .block--quote > * {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-left: 0;
  margin-right: 0;
}
blockquote p {
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 1.041625rem; /* 16.666px */
  line-height: 1.26; /* 21px */
  margin-bottom: 0;
  color: var(--color-gray-900);
}
.block--quote figcaption,
.block--image figcaption {
  font-size: .8rem; /* 12.8px */
  font-weight: 500;
  color: var(--color-gray-500);
  margin-top: .5rem;
  margin-bottom: 0;
}
.block--table {
  padding: 0;
  background-color: var(--color-gray-50);
}
.block--table table {
  border-collapse: collapse;
  margin: -1px;
  outline: 1px solid var(--color-gray-50);
  outline-offset: -1px;
}
.block--table thead {
  vertical-align: top;
}
.block--table tr > * {
  padding: .625rem .75rem;
  border: 1px solid var(--color-gray-300);
}
.block--table thead tr > *:first-child,
.block--table tbody tr > *:first-child {
  padding-left: 0;
  min-width: 12.5rem;
  max-width: 25rem;
}
.block--table th {
  font-size: .8rem; /* 12.8px */
  color: var(--color-gray-500);
  font-weight: 500;
  text-align: left;
}
.block--table td {
  position: relative;
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: .90625rem; /* 14.5px */
  line-height: 1.6551724138; /* 24px */
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-gray-700);
}
.block--table tbody tr > td[style] {
  background-color: rgba(64, 204, 223, var(--opacity));
}
/* Sticky table headers */
@media screen {
  .table-container[data-overflow] {
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 4rem);
    margin: 0 calc( -1 * ( (100vw - var(--study-w)) / 2) + 1.5rem);
  }
  .work .table-container[data-overflow] {
    max-height: 100%;
    margin-left: 0;
    margin-right: unset;
    width: 100%;
  }
  .work .question-container--overflow {
    width: -moz-fit-content;
    width: fit-content;
  }
  article .table-container[data-overflow] thead th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background: var(--color-gray-50);
    background-clip: padding-box;
    z-index: 10;
    border-bottom: 1px solid var(--color-gray-300);
  }
  article .table-container[data-overflow] tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: var(--color-gray-50);
    background-clip: padding-box;
    z-index: 20;
  }
  article .table-container[data-overflow] thead th:first-child {
    left: 0;
    top: -1px;
    z-index: 30;
    background: var(--color-gray-50);
    background-clip: padding-box;
    border: 1px solid var(--color-gray-300);
  }
  article .table-container[data-overflow] thead th:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-300);
  }
  article .table-container[data-overflow] thead th:first-child:before,
  article .table-container[data-overflow] tbody th:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid var(--color-gray-300);
  }
}


/* PANELS */
.panel {
  position: fixed;
  top: 4rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: .8rem; /* 12.8px */
  overflow-y: auto;
  transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
  background: var(--color-white);
  z-index: 10;
}
.panel__item {
  position: relative;
  font-size: inherit;
  min-height: 2rem;
  padding: .45rem .75rem;
}
.panel__item .btn {
  width: 100%;
}
.panel__item--checkbox input[type="checkbox"],
.panel__item--radio input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem 0 0;
  background: white;
  border: 1px solid currentColor;
  position: relative;
  top: .25rem;
  opacity: .75;
}
.panel__item--radio input[type="radio"] {
  border-radius: 50%;
}
.panel__item--checkbox input[type="checkbox"]:hover,
.panel__item--radio input[type="radio"]:hover {
  opacity: 1;
}
.panel__item--checkbox input[type="checkbox"]:checked {
  background: currentColor;
}
.panel__item--checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: .1875rem;
  left: .125rem;
  width: .6rem;
  height: .3rem;
  border-left: .1rem solid white;
  border-bottom: .1rem solid white;
  transform: rotate(-45deg);
}
.panel__item--radio input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: .1875rem;
  left: .2rem;
  width: .5rem;
  height: .5rem;
  background: currentColor; 
  border-radius: 50%;
}
.panel__item--color input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
}
.panel__item--color input[type="color"] + input[type="color"] {
  margin-left: .5rem;
}

.panel__item--label-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Panel left */
.panel--left {
  left: 0;
  width: var(--panel-left-w); 
}
main > .panel--left {
  transform: translateX(-100%);
}

/* Tabs */
[role="tablist"] {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-white);
}
[role="tablist"] > * {
  padding: 1rem 1.4rem;
  font-size: .8rem;
  font-weight: bold;
  color: var(--color-gray-900);
}
#bookmarks-tab {
  padding: .5rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#toc-tab {
  flex: 1 0 auto;
  text-align: left;
  color: var(--color-gray-500);
}
#toc-tab[aria-selected] {
  color: var(--color-gray-900);
}

/* Panel lists */
.panel__list > * {
  min-height: 2.5rem;
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
}
.panel__list > * > a,
.panel__list > * > span {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: -2px;
}
.panel__list .icon {
  margin-right: .5rem;
}
.panel__list--blocks .btn--right .icon,
.panel__list--blocks .btn--left .icon {
  opacity: 0;
}
.panel__list--blocks > *:hover,
.panel__list--blocks > *:hover .btn--right {
  background-color: var(--color-gray-100);
}
.panel__list--blocks > *:hover .btn--right .icon,
.panel__list--blocks > *:hover .btn--left .icon {
  opacity: .5;
}
.panel__list--blocks > *:hover .btn--right::before {
  content:"";
  position: absolute;
  display: block;
  top: 0;
  left: -0.5rem;
  height: 100%;
  width: .5rem;
  background: linear-gradient(90deg, rgba(243, 244, 246, 0) 0%, rgba(243, 244, 246, 1) 100%);
}
.panel__list--blocks > *:hover .btn--left::before {
  content:"";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(243, 244, 246, 1);
}
.btn--right:not([disabled]):hover .icon,
.btn--left:not([disabled]):hover .icon {
  position: relative;
  z-index: 1;
  opacity: 1 !important;
}
button[disabled] {
  cursor: not-allowed;
}
button[disabled] .icon {
  opacity: .6;
}

/* Panel right */
.panel--right {
  right: 0;
  width: var(--panel-right-w);
  justify-content: space-between;
}
main > .panel--right {
  transform: translateX(100%);
}
.collection ul {
  min-height: 6rem;
  max-height: 35vh;
  overflow-y: auto;
}

/* ToC */
.toc ol {
  list-style: none;
}
.toc li {
  position: relative;
  font-weight: bold;
  padding: 0.6875rem 1rem .75rem 4rem;
  align-items: flex-start;
}
.toc li:hover,
.toc li:focus {
  background-color: var(--color-gray-100);
}
.toc li.active {
  background: var(--color-gray-900);
}
.toc li.active::before {
  color: var(--color-gray-200);
}
.toc li.active > * {
  color: var(--color-white);
}

.toc li[data-subpart] {
  font-weight: 500;
}
.toc li[data-subsubpart] {
  font-weight: 400;
}
.toc li > a {
  display: inline-block;
  color: var(--color-gray-900);
}
.toc li::before {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2.5rem;
  padding-top: 0.6875rem;
  color: var(--color-gray-700);
}
.toc li[data-symbol]::before {
  content: attr(data-symbol);
}
.toc li[data-part]::before {
  content: attr(data-part) ".";
}
.toc li[data-subpart]::before {
  content: attr(data-subpart) ".";
}
.toc li[data-subpart]::before {
  content: attr(data-subpart) ".";
}
.toc li[data-subsubpart]::before {
  content: attr(data-subsubpart) ".";
}
.toc li[data-part="annex"][data-subpart]::before {
  content: attr(data-subpart) ".";
}

[data-selected-tab="bookmarks-tab"] ~ #toc-panel li:not(.bookmarked, .empty) {
  display: none;
}
[data-selected-tab="bookmarks-tab"] ~ #toc-panel li:not(.empty) {
  padding-left: 5rem;
}
[data-selected-tab="bookmarks-tab"] ~ #toc-panel li[data-subpart]::before {
  content: attr(data-part) "." attr(data-subpart) ".";
}
[data-selected-tab="bookmarks-tab"] ~ #toc-panel li[data-subsubpart]::before {
  content: attr(data-part) "." attr(data-subpart) "." attr(data-subsubpart) ".";
}
.bookmark {
  display: inline-block;
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 0;
}
.toc li:hover > .bookmark {
  opacity: .5;
}
.toc li.bookmarked .bookmark,
.toc li:focus .bookmark,
.bookmark:hover,
.bookmark:focus {
  opacity: 1 !important;
}

/* Filters */
fieldset {
  position: relative;
  border: none;
  padding: .75rem;
  margin: 0;
  border-bottom: 1px solid var(--panel-border-color)
}
fieldset > legend {
  position: relative;
  font-weight: bold;
  top: .6875rem;
  margin-bottom: .875rem;
  padding: 0;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  display: flex;
}
.tag label {
  padding: .55em .75em .45em;
  margin-right: .5rem;
  margin-bottom: .5rem;
  border: 1px solid var(--color-gray-300);
  cursor: pointer;
}
.tag:hover label,
.tag input:focus + label {
  border-color: var(--color-gray-900);
}
.tag input:checked + label {
  background: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

#filters-panel {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  bottom: 0;
  width: var(--panel-filters-w);
}
[data-filters] {
  width: calc(var(--panel-filters-w) + var(--panel-left-w));
}
[data-filters] #filters-panel {
  display: block;
}
[data-filters] #toc-panel {
  position: absolute;
  top: 2.5rem;
  left: var(--panel-filters-w);
  right: 0;
  bottom: 0;
}

/* DIALOG */
[role="dialog"] {
  display: none;
}
.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.75);
  z-index: 99;
}
.dialog {
  position: fixed;
  top: 0;
  bottom: 0px;
  z-index: 100;
  max-width: calc(100vw - 62px);
  min-height: 170px;
  max-height: calc(100vh - 62px);
  border: 1px solid var(--color-black);
  background-color: white;
}
.dialog[data-image="true"] {
  min-height: 320px;
}
[role="dialog"][open],
[role="dialog"][open] + .dialog-overlay {
  display: block;
}
.dialog__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog__header > * {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: .8rem;
  text-align: center;
}
.dialog__header > .btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-500);
  border: none;
  z-index: 200;
}
.dialog__header > .btn:hover {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}
.dialog__body {
  position: absolute;
  top: 2.5rem;
}
.dialog .block--actions {
  display: none !important;
}
#dialog-export {
  top: 31px; bottom: 31px;
  left: 31px; right: 31px;
  padding: 0 15rem;
  width: 100%;
  height: 100%;
}
#dialog-export .panel--left,
#dialog-export .panel--right {
  width: 15rem;
  top: 4rem;
  bottom: 2rem;
}
#dialog-export .panel--left {
  left: 2rem;
}
#dialog-export .panel--right {
  right: 2rem;
}
#dialog-export-content {
  background-image: linear-gradient(var(--color-gray-100) 1px, transparent 1px), linear-gradient(to right, var(--color-gray-100) 1px, transparent 1px);
  background-size: 10px 10px;
  background-color: var(--color-gray-50);
  background-position: center -2px;
  position: absolute;
  bottom: 0;
  top: 2rem;
  right: 0;
  left: 0;
  margin-left: 15rem;
  margin-right: 15rem;
  overflow-y: auto;
}

#dialog-pdf {
  top: initial;
  left: initial;
  right: calc(var(--panel-right-w) - 1px);
  bottom: calc(2rem - 1px);
  height: 32rem;
  width: 20rem;
  margin: 0;
  padding: 0;
}
#dialog-pdf footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
}
#dialog-pdf .dialog__body .panel__item .panel__label {
  margin-bottom: 0.5rem;
  display: block;
}
#dialog-pdf .dialog__body details > summary {
  padding: .45rem .75rem;
}
.dialog .arrow {
  position: absolute;
  transform-origin: center;
}
.dialog [class*="arrow--top"] {
  top: -18px;
}
.dialog .arrow--top {
  left: calc(50% - 9px);
}
.dialog .arrow--top-left {
  left: 9px;
}
.dialog .arrow--top-right {
  right: 25px;
}
.dialog [class*="arrow--bottom"] {
  bottom: -18px;  
}
.dialog .arrow--bottom {
  transform: rotate(180deg);
  right: calc(50% - 9px);
}
.dialog .arrow--bottom-left {
  transform: rotate(180deg);
  left: 25px;
}
.dialog .arrow--bottom-right {
  transform: rotate(180deg);
  right: 9px;
}
.dialog [class*="arrow--left"] {
  left: -18px;  
}
.dialog .arrow--left {
  transform: rotate(-90deg);
  bottom: calc(50% - 9px);
}
.dialog .arrow--left-top {
  transform: rotate(-90deg);
  top: 25px;
}
.dialog .arrow--left-bottom {
  transform: rotate(-90deg);
  bottom: 18px;
}
.dialog [class*="arrow--right"] {
  right: -18px;  
}
.dialog .arrow--right {
  transform: rotate(90deg);
  top: calc(50% - 9px);
}
.dialog .arrow--right-top {
  transform: rotate(90deg);
  top: 7px;
}
.dialog .arrow--right-bottom {
  transform: rotate(90deg);
  bottom: 36px;
}
.dialog .arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-top: -2px;
  margin-left: -1px;
  border-width: 10px;
  border-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: var(--color-black);
  border-style: solid;
}
.dialog .arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 9px;
  border-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: #fff;
  border-style: solid;
}
.dialog__footer {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: .75rem;
}
/* Tutorial */
#tutorial {
  position: fixed;
  min-width: 300px;
  top: var(--top, unset);
  left: var(--left, unset);
  right: var(--right, unset);
  bottom: var(--bottom, unset);
  z-index: 999;
}
#tutorial .dialog__body {
  color: var(--color-gray-700);
  font-size: .8rem;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 2rem;
}
#tutorial .dialog__footer .btn {
  width: auto;
  margin-left: .25rem;
}
#tutorial .counter {
  color: var(--color-gray-500);
  font-size: .8rem;
}

/* RESSOURCES */
#ressources header {
  background: white;
  display: flex;
  justify-content: space-between;
}
#ressources ul {
  max-height: 35vh;
  overflow: scroll;
}
#btn-ressource-expand {
  padding: 0;
  color: var(--color-gray-500);
}
#btn-ressource-expand:hover,
#btn-ressource-expand:focus {
  color: var(--color-gray-700);
}
.ressource {
  display: block;
}
.ressource__meta {
  display: flex;
}
.ressource__meta > *:not(:last-child) {
  margin-right: .5em;
}
.ressource__source {
  color: var(--color-gray-500);
}
.ressource time {
  flex-grow: 1;
  text-align: right;
  color: var(--color-gray-500);
}
.ressource a {
  font-family: var(--font-serif);
  font-size: 1.0416625rem;
}
/* expanded */
#ressources.expanded {
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--color-white);
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}
#ressources.expanded > details:last-of-type::after {
  content: "";
  display: block;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
}
#ressources.expanded .ctas {
  background: var(--color-white);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#ressources summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  padding-right: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
}
#ressources summary::-webkit-details-marker {
  display: none
}
#ressources summary > span {
  margin-left: .5rem;
  flex: 1 0 0;
}
#ressources > details > summary {
  font-weight: bold;
}
#ressources > details .ressource {
  margin-left: 1rem;
}
#ressources > details .ressource:first-child {
  margin-top: .5rem;
}
#ressources details > summary .icon {
  margin-right: -.5rem;
  color: var(--color-gray-500);
  position: absolute;
  right: .75rem;
  margin-top: -.25rem;
}
#ressources details[open] > summary .icon {
  transform: rotate(180deg);
}
#ressources.expanded summary:hover {
  background-color: var(--color-gray-100);
}


/* GRAPHS */
/* graph > graph__bar > graph__group > graph__unit */

.block--graph {
  position: relative;
  margin: 2rem 0 4rem;
  overflow: visible;
}
.graph {
  min-width: 250px;
}
.graph__label-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
}
.graph__legends {
  color: var(--color-gray-500);
  font-size: .8rem;
  -webkit-columns: var(--columns);
  columns: var(--columns);
  -webkit-column-gap: 40px;
  column-gap: 40px;
  margin-bottom: 2rem;
}
.graph__legend {
  position: relative;
  display: flex;
  margin-bottom: .5rem;
}
.graph__legends .graph__unit {
  margin-right: .5rem;
  margin-top: .075rem;
}
.graph__label {
  flex-grow: 1;
  font-size: .8rem;
  color: var(--color-gray-500);
  text-align: right;
  padding-right: 1.5rem;
}
.graph__bar {
  position: relative;
  display: flex;
  flex-direction: var(--direction);
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 250px;
}
.graph--multiple .graph__bar,
.graph--100-multiple .graph__bar {
  max-height: 40px;
}
.graph--100-multiple .graph__bar,
.graph--100-simple .graph__legends {
  flex-direction: column;
}
.graph--multiple .graph__bar,
.graph--100-simple .graph__bar {
  flex-direction: row;
}
.graph--100-simple {
  display: flex;
  align-items: center;
}
.graph--100-simple .graph__bar {
  width: 100px;
  height: 100px;
}
.graph--100-simple .graph__legends {
  flex-grow: 1;
  margin: 0;
  padding-right: 1.5rem;
  max-width: 20rem;
}
.graph--100-simple .graph {
  padding: 0;
}

.work .graph--multiple .graph__bar .graph__unit:last-child::after,
.work .graph--100-simple .graph__legend::after,
.work .graph--100-multiple .graph__bar [data-group="1"]::after,
.work .graph--100-multiple .graph__bar [data-group="2"]::after,
.work .graph--100-multiple .graph__bar [data-group="3"]::after,
.work .graph--100-multiple .graph__bar [data-group="4"]::after,
.work .graph--100-multiple .graph__bar [data-group="5"]::after,
.work .graph--100-multiple .graph__bar [data-group="6"]::after {
  content: attr(data-value)"%";
  display: block;
  position: absolute;
  left: 14px;
  color: var(--color-gray-700);
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: .6875rem;
  line-height: 11px;
  z-index: 10;
}
.work .graph--100-multiple .graph__bar [data-group="1"] ~ [data-group="1"]::after,
.work .graph--100-multiple .graph__bar [data-group="2"] ~ [data-group="2"]::after,
.work .graph--100-multiple .graph__bar [data-group="3"] ~ [data-group="3"]::after,
.work .graph--100-multiple .graph__bar [data-group="4"] ~ [data-group="4"]::after,
.work .graph--100-multiple .graph__bar [data-group="5"] ~ [data-group="5"]::after,
.work .graph--100-multiple .graph__bar [data-group="6"] ~ [data-group="6"]::after {
  display: none;
}
.work .graph--100-multiple .graph__bar [data-group="1"]::after,
.work .graph--100-multiple .graph__bar [data-group="2"]::after,
.work .graph--100-multiple .graph__bar [data-group="3"]::after,
.work .graph--100-multiple .graph__bar [data-group="4"]::after,
.work .graph--100-multiple .graph__bar [data-group="5"]::after,
.work .graph--100-multiple .graph__bar [data-group="6"]::after {
  background: white;
  left: 10px;
  height: 10px;
}
.work .graph--100-simple .graph__legend::after {
  left: 14px;
  line-height: 17px;
}
.work .graph--100-simple .graph__legend span {
  margin-right: 2rem;
}

.bg-rules {
  background-repeat: repeat;
  background-position: left bottom;
  border-bottom: 1px solid var(--color-gray-400);
}
.bg-rules--50 {
  background-image: url("data:image/svg+xml,%3Csvg width='1' height='50' viewBox='0 0 1 50' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='1' height='1' fill='%239CA3AF'%3E%3C/rect%3E%3C/svg%3E");
}
.graph--h.bg-rules {
  border-bottom: 0;
}
.graph--h.bg-rules--50 {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='1' viewBox='0 0 50 1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='1' height='1' fill='%239CA3AF'%3E%3C/rect%3E%3C/svg%3E");
}
.graph__bar > [data-group] {
  pointer-events: auto;
}
[data-active] [data-group] {
  opacity: 0.25;
}
[data-active="1"] [data-group="1"],
[data-active="2"] [data-group="2"],
[data-active="3"] [data-group="3"],
[data-active="4"] [data-group="4"],
[data-active="5"] [data-group="5"],
[data-active="6"] [data-group="6"] {
  opacity: 1;
}
/* Display tooltip on hover */
[data-active] [data-hover]::before,
.graph .graph__unit:hover::before {
  content: attr(data-value)"%";
  position: absolute;
  left: 0px;
  top: -33px;
  padding: 4px 6px 2px;
  min-width: 2rem;
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: .90625rem; /* 14.5px */
  line-height: 1.6551724138; /* 24px */
  letter-spacing: -0.01em;
  text-align: center;
  border: 1px solid var(--color-gray-300);
  z-index: 10;
  color: var(--color-gray-500);
  background: var(--color-gray-50);
  white-space: pre;
}
.graph__unit {
  position: relative;
  display: inline-block;
  min-width: 10px;
  width: 10px;
  min-height: 10px;
  height: 10px;
  border-top: 1px solid var(--color-gray-50);
  border-left: 1px solid var(--color-gray-50);
}
.block--question {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.block--question h4 {
  font-size: 1.25rem;
  margin-bottom: 0; 
}
.block--question h4::before{
  content: '';
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--color-gray-500);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='1.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 10.1783C3.5 13.0382 7.30558 15.3567 12 15.3567C12.2381 15.3567 12.4739 15.3507 12.707 15.339L14.756 19.1425L15.8285 14.8029C18.5998 13.9497 20.5 12.1992 20.5 10.1783C20.5 7.31842 16.6944 5 12 5C7.30558 5 3.5 7.31842 3.5 10.1783Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 1rem;
}
.graph__caption {
  margin-top: 4rem;
}



/* Checkboxes */
.block--graph input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  margin: 0 .5em .25em 0;
}
.block--graph input[type="checkbox"]:not(:checked) {
  opacity: .25;
}
.block--graph input[type="checkbox"]:checked {
  opacity: 1;
}

@media screen and (min-width: 60rem) {
  .container {
    max-width: calc(100vw - var(--panel-left-w));
    margin-left: var(--panel-left-w);
  }
  main > .panel--left {
    transform: translateX(0%);
  }
  #toggle-questions {
    left: calc(var(--panel-right-w) + 1rem);
  }
  #toggle-toc {
    display: none;
  }
  .table-container[data-overflow] {
    margin: 0 calc( -1 * ( (100vw - var(--panel-left-w) - var(--study-w)) / 2) + 1.5rem);
  }
}


@media screen and (min-width: 75rem) {
  .container {
    max-width: calc(100vw - var(--panel-left-w) - var(--panel-right-w));
    margin-right: var(--panel-right-w);
  }
  main > .panel--right {
    transform: translateX(0%);
  }
  main.panel-right-expanded > .panel--right {
    width: var(--panel-right-expanded-w);
  }
  .table-container[data-overflow] {
    margin: 0 calc( -1 * ( (100vw - var(--panel-left-w) - var(--panel-right-w) - var(--study-w)) / 2) + 1.5rem);
  }
  #toggle-questions {
    right: calc(var(--panel-right-w) + 1rem);
  }
  main.panel-right-expanded > #toggle-questions {
    right: calc(var(--panel-right-expanded-w) + 1rem);
  }
}

/* Mobile < 704px */
@media screen and (max-width: 44rem) {
  html {
    font-size: .875rem;
  }
  .table-container[data-overflow] {
    margin: 0;
  }
  .icon,
  .block--question h4::before {
    width: 24px;
    height: 24px;
  }
  .study h3[data-subpart]::before {
    line-height: 2.8rem;
  }
  main .study {
   width: calc(100% - 1.75rem);
  }
  .block:not(.block--table) {
    margin-bottom: 2rem;
  }
  .block--part {
    margin-top: 4rem;
    padding-right: 0;
  }
  .block--subpart {
    margin-top: 1rem;
    padding-right: 0;
  }
  .block--question {
    margin-top: 2rem;
  }
  .graph__label-bar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  .graph__label {
    margin-bottom: .5rem;
    text-align: left;
  }
  .graph__legends {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .graph--100-simple .graph__legends {
    min-width: 150px;
    margin-top: -.5rem;
  }
  .graph--100-simple .graph__label-bar {
    max-width: 100px;
  }
  .table-container {
    overflow: auto;
    padding-right: 0;
    margin: 0 -1rem;
    max-height: calc(100vh - 4rem);
  }
  .table-container thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--color-gray-50);
    z-index: 10;
    outline: 1px solid var(--color-gray-300);
  }
  .table-container tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: var(--color-gray-50);
    z-index: 20;
    outline: 1px solid var(--color-gray-300);
  }
  .table-container thead th:first-child {
    left: 0;
    z-index: 30;
  }
  .block--table tr > * {
    padding: .625rem .75rem !important;
  }
}

.mobile-banner {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  background: var(--color-gray-900);
  color: white;
  padding: 1rem 2.5rem 1rem 1rem;
  z-index: 999;
}
.mobile-banner .btn {
  position: absolute;
  top: .25rem;
  right: .25rem;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  color: var(--color-gray-300); 
}
.mobile-banner .btn:hover {
  color: var(--color-gray-50);
}
main[data-mobile-banner="true"] {
  padding-top: 4rem;
}


/* Browser */
.firefox-only,
.opera-only,
.safari-only,
.edge-only,
.ie-only,
.chrome-only {
  display: none;
}
[data-browser="firefox"] .firefox-only,
[data-browser="opera"] .opera-only,
[data-browser="safari"] .safari-only,
[data-browser="edge"] .edge-only,
[data-browser="ie"] .ie-only,
[data-browser="chrome"] .chrome-only {
  display: initial;
}


/* Print */

.print { display: none }
.work .print { display: initial }

@media print {
  @page { 
    size: A4 portrait;
    margin: 1cm 0.5cm;
  }
  main {
    position: initial;
    top: initial;
    bottom: initial;
  }
  body, main,
  .block--table,
  .block--table th {
    background: white;
  }
  .print { 
    display: initial 
  }
  .print\:hidden {
    display: none !important;
  }
  #header {
    position: initial;
  }
  .study {
    max-width: 100%;
    padding: 1rem 1rem 0;
  }
  .block:not(.block--callout) {
    border-color: transparent;
  }
  .block--table table {
    outline-color: white;
    border-color: white;
  }
  .block--table table tr > * {
    font-size: 66.666%;
    padding: .5rem .625rem;
    max-width: 6rem;
  }
  .block--table thead tr > *:first-child,
  .block--table tbody tr > *:first-child {
    min-width: unset;
    max-width: 9rem;
  }
  .block--table th {
    outline: none !important;
  }
  .graph--100-simple {
    position: relative;
    page-break-inside: avoid !important;
  }
  .graph__unit {
    border-top-color: white;
    border-left-color: white;
  }
  .work h4[data-subsubpart]::before {
    left: 1.5rem;
  }
  #dialog-export {
    position: relative;
    top: 0; left: 0;
    display: block;
    border: none;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
  #dialog-export-content {
    position: relative;
    top: 0; left: 0;
    background: white;
    height: auto;
    margin: 0;
  }
}
