.k-block-container-type-table {
    background-color: #000;
    color: #ffff;
}
.k-block-type-table > div {
    display: flex;
}
.k-block-type-table .k-icon-bars {
    display: inline-block;
    margin-right: .5rem;
}
.k-icon-bars svg {
    width: 1.5rem;
    height: 1.5rem;
}