.k-block-container-type-spec {
  padding: 1rem;
  outline: 2px solid #DE7F3F;
  margin-bottom: 2px;
}
.k-block-type-spec-input {
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
  font-size: .90625rem;
}